<%= turbo_frame_tag @promotion, "new_promotion_action" do %>
  <div class="promotion_action promotion-block">
    <h6><%= t(level, scope: 'solidus_friendly_promotions.add_action') %></h6>
    <%= form_tag solidus_friendly_promotions.new_admin_promotion_promotion_action_path(@promotion), method: :get, remote: false do %>
      <% if can?(:update, @promotion) %>
        <div class="field">
          <%= label_tag :promotion_action_calculator_type, Spree::PromotionAction.human_attribute_name(:calculator_type) %>
          <%=
            select_tag(
              'promotion_action[calculator_type]', options_for_promotion_action_calculator_types(level),
              include_blank: t(:choose_promotion_rule, scope: 'spree'),
              class: 'custom-select fullwidth',
              onchange: 'this.form.requestSubmit()',
              required: true
            )
          %>
          <%= hidden_field_tag('promotion_action[type]', "SolidusFriendlyPromotions::Actions::Adjust#{level.to_s.camelize}") %>
          <%= hidden_field_tag("level", level) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
