<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Promotion), solidus_friendly_promotions.admin_promotions_path) %>
<% admin_breadcrumb(@promotion.name) %>

<%= content_for :head do %>
  <%= javascript_importmap_tags "solidus_friendly_promotions", importmap: SolidusFriendlyPromotions.importmap %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <% if can?(:show, Spree::PromotionCode) %>
      <%= link_to t('solidus_friendly_promotions.view_promotion_codes_list'), solidus_friendly_promotions.admin_promotion_promotion_codes_path(promotion_id: @promotion.id), class: 'btn btn-primary' %>

      <%= link_to t('solidus_friendly_promotions.download_promotion_codes_list'), solidus_friendly_promotions.admin_promotion_promotion_codes_path(promotion_id: @promotion.id, format: :csv), class: 'btn btn-primary' %>
    <% end %>

    <% if can?(:show, Spree::PromotionCodeBatch) %>
      <%= link_to plural_resource_name(Spree::PromotionCodeBatch), solidus_friendly_promotions.admin_promotion_promotion_code_batches_path(promotion_id: @promotion.id), class: 'btn btn-primary' %>
    <% end %>
  </li>
<% end %>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <% if can?(:update, @promotion) %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  <% end %>
<% end %>


<fieldset>
  <legend align="center"><%= t(:order_rules, scope: :solidus_friendly_promotions) %></legend>

  <%= render partial: 'solidus_friendly_promotions/admin/promotion_rules/promotion_rule', collection: promotion_rules_by_level(@promotion, :order), locals: { level: :order } %>

  <%= turbo_frame_tag @promotion, "new_order_promotion_rule" do %>
    <%= link_to t(:add_rule, scope: :solidus_friendly_promotions), solidus_friendly_promotions.new_admin_promotion_promotion_rule_path(@promotion, level: :order), class: 'btn btn-secondary' %>
  <% end %>
</fieldset>

<div class="row">
  <% [:line_item, :shipment].each do |level| %>
  <div class="col-6">
    <fieldset>
      <legend align="center"><%= t("#{level}_actions", scope: :solidus_friendly_promotions) %></legend>

      <%= render partial: 'solidus_friendly_promotions/admin/promotion_actions/promotion_action', collection: promotion_actions_by_level(@promotion, level), locals: {} %>

      <%= turbo_frame_tag @promotion, "new_#{level}_promotion_action" do %>
        <%= link_to t(:add_action, scope: :solidus_friendly_promotions), solidus_friendly_promotions.new_admin_promotion_promotion_action_path(@promotion), class: 'btn btn-secondary' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-6">
    <fieldset>
      <legend align="center"><%= t("#{level}_rules", scope: :solidus_friendly_promotions) %></legend>

      <%= render partial: 'solidus_friendly_promotions/admin/promotion_rules/promotion_rule', collection: promotion_rules_by_level(@promotion, level), locals: { level: level } %>

      <%= turbo_frame_tag @promotion, "new_#{level}_promotion_rule" do %>
        <%= link_to t(:add_rule, scope: :solidus_friendly_promotions), solidus_friendly_promotions.new_admin_promotion_promotion_rule_path(@promotion, level: level), class: 'btn btn-secondary' %>
      <% end %>
    </fieldset>
  </div>
  <% end %>
</div>
