<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to plural_resource_name(SolidusFriendlyPromotions::Promotion), solidus_friendly_promotions.admin_promotions_path) %>
<% admin_breadcrumb(@promotion.name) %>

<%= content_for :head do %>
  <%= javascript_importmap_tags "solidus_friendly_promotions", importmap: SolidusFriendlyPromotions.importmap %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <% if can?(:show, SolidusFriendlyPromotions::PromotionCode) %>
      <%= link_to t('solidus_friendly_promotions.view_promotion_codes_list'), solidus_friendly_promotions.admin_promotion_promotion_codes_path(promotion_id: @promotion.id), class: 'btn btn-primary' %>

      <%= link_to t('solidus_friendly_promotions.download_promotion_codes_list'), solidus_friendly_promotions.admin_promotion_promotion_codes_path(promotion_id: @promotion.id, format: :csv), class: 'btn btn-primary' %>
    <% end %>

    <% if can?(:show, SolidusFriendlyPromotions::PromotionCodeBatch) %>
      <%= link_to plural_resource_name(SolidusFriendlyPromotions::PromotionCodeBatch), solidus_friendly_promotions.admin_promotion_promotion_code_batches_path(promotion_id: @promotion.id), class: 'btn btn-primary' %>
    <% end %>
  </li>
<% end %>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <% if can?(:update, @promotion) %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  <% end %>
<% end %>

<% if @promotion.benefits.any? %>
  <fieldset>
  <legend align="center"><%= t("benefits", scope: :solidus_friendly_promotions) %></legend>
    <%= render partial: 'solidus_friendly_promotions/admin/benefits/benefit', collection: @promotion.benefits %>
  </fieldset>
<% end %>

<div class="row">
  <div class="col-12">
    <%= turbo_frame_tag @promotion, "new_benefit" do %>
      <%= link_to t(:add_benefit, scope: :solidus_friendly_promotions), solidus_friendly_promotions.new_admin_promotion_benefit_path(@promotion), class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
