<%= page do %>
  <%= page_header do %>
    <%= page_header_back(solidus_admin.users_path) %>
    <%= page_header_title(t(".title", email: @user.email)) %>

    <%= page_header_actions do %>
      <%= render component("ui/button").new(tag: :a, text: t(".create_order_for_user"), href: spree.new_admin_order_path(user_id: @user.id)) %>
    <% end %>
  <% end %>

  <%= page_header do %>
    <% tabs.each do |tab| %>
      <%= render(component("ui/button").new(tag: :a, scheme: :ghost, text: tab[:text], 'aria-current': tab[:current], href: tab[:href])) %>
    <% end %>
  <% end %>

  <%= page_with_sidebar do %>
    <%= page_with_sidebar_main do %>
      <%= render component('ui/panel').new(title: t(".billing_address")) do %>
        <%= form_for @user, url: solidus_admin.update_addresses_user_path(@user), method: :put, html: { id: "#{form_id}_billing", autocomplete: "off", class: "bill_address" } do |f| %>

          <%= render component('ui/forms/address').new(address: @bill_address, name: "user[bill_address_attributes]") %>
          <div class="py-1.5 text-center">
            <%= render component("ui/button").new(tag: :button, text: t(".update"), form: "#{form_id}_billing") %>
            <%= render component("ui/button").new(tag: :a, text: t(".cancel"), href: solidus_admin.addresses_user_path(@user), scheme: :secondary) %>
          </div>
        <% end %>
      <% end %>

      <%= render component('ui/panel').new(title: t(".shipping_address")) do %>
        <%= form_for @user, url: solidus_admin.update_addresses_user_path(@user), method: :put, html: { id: "#{form_id}_shipping", autocomplete: "off", class: "ship_address"  } do |f| %>

          <%= render component('ui/forms/address').new(address: @ship_address, name: "user[ship_address_attributes]") %>
          <div class="py-1.5 text-center">
            <%= render component("ui/button").new(tag: :button, text: t(".update"), form: "#{form_id}_shipping") %>
            <%= render component("ui/button").new(tag: :a, text: t(".cancel"), href: solidus_admin.addresses_user_path(@user), scheme: :secondary) %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= page_with_sidebar_aside do %>
      <%= render component("ui/panel").new(title: t("spree.lifetime_stats")) do %>
        <%= render component("ui/details_list").new(
          items: [
            { label: t("spree.total_sales"), value: @user.display_lifetime_value.to_html },
            { label: t("spree.order_count"), value: @user.order_count.to_i },
            { label: t("spree.average_order_value"), value: @user.display_average_order_value.to_html },
            { label: t("spree.member_since"), value: @user.created_at.to_date },
            { label: t(".last_active"), value: last_login(@user) },
          ]
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
