<div class="<%= stimulus_id %>" data-controller="<%= stimulus_id %>">
  <div class="rounded p-2">
    <%= render component('ui/panel').new(title: @shipment.number) do |panel| %>
      <% panel.with_section(wide: true, high: true) do %>
        <div class="rounded-b-lg overflow-hidden">
          <table class="table-auto w-full">
            <thead>
              <tr>
                <th class="text-left body-small-bold text-gray-800 bg-gray-15 px-6 py-3 leading-none">Product</th>
                <th class="text-left body-small-bold text-gray-800 bg-gray-15 px-6 py-3 leading-none w-16">Quantity</th>
                <th class="text-left body-small-bold text-gray-800 bg-gray-15 px-6 py-3 leading-none w-16 whitespace-nowrap">Total Price</th>
                <th class="text-left body-small-bold text-gray-800 bg-gray-15 px-6 py-3 leading-none w-16"><span class="sr-only">Actions</span></th>
              </tr>
            </thead>
            <tbody>
              <%
                shipment_manifest = Spree::ShippingManifest.new(
                  inventory_units: @shipment.last.inventory_units.where(carton_id: nil),
                ).items.sort_by { |item| item.line_item.created_at }
              %>

              <% shipment_manifest.each do |item| %>
                <tr class="border-gray-100 border-t">
                  <td class="px-6 py-4">
                    <div class="flex gap-2 grow">
                      <% variant = item.variant %>
                      <%= render component("ui/thumbnail").new(
                        src: (variant.images.first || variant.product.gallery.images.first)&.url(:small),
                        alt: variant.name
                      ) %>
                      <div class="flex-col">
                        <div class="leading-5 text-black body-small-bold"><%= variant.name %></div>
                        <div class="leading-5 text-gray-500 body-small">
                          SKU: <%= variant.sku %>
                          <%= variant.options_text.presence&.prepend("- ") %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="text-gray-500 body-small whitespace-nowrap">
                      <% item.states.each do |state, count| %>
                        <%= count %> x <%= t(state, scope: '.inventory_states') %>
                      <% end %>
                    </span>
                  </td>
                  <td class="px-6 py-4">
                    <span class="text-gray-500 body-small"><%= item.line_item.display_amount %></span>
                  </td>
                  <td class="px-6 py-4 text-right">
                    <%= form_for(item.line_item, url: '#', method: :delete) do |f| %>
                      <%= render component('ui/button').new(
                        scheme: :ghost,
                        size: :s,
                        title: t("spree.delete"),
                        icon: 'close-line',
                        "data-controller": "confirm",
                        "data-confirm-text-value": t("spree.are_you_sure"),
                      ) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr class="border-gray-100 border-t">
                <td colspan="4" class="px-6 py-4">
                  <%= form_for(@shipment, url: '#') do |f| %>
                    <%= render component("ui/forms/field").select(
                      f,
                      :shipping_method,
                      Spree::ShippingMethod.order(:name).pluck(:name, :id),
                      class: "mb-4"
                    ) %>

                    <%= render component("ui/forms/field").text_field(
                      f,
                      :tracking
                    ) %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
