<% admin_breadcrumb(link_to plural_resource_name(Spree::LegacyUser), spree.admin_users_path) %>
<% admin_breadcrumb(link_to @user.email, edit_admin_user_url(@user)) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::StoreCredit), spree.admin_user_store_credits_path(@user)) %>
<% admin_breadcrumb(link_to Spree::StoreCredit.model_name.human, admin_user_store_credit_path(@user, @store_credit)) %>
<% admin_breadcrumb(t('spree.edit')) %>


<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :store_credits %>
<% content_for :page_actions do %>
<% end %>

<%= form_for [:admin, @user, @store_credit], url: update_amount_admin_user_store_credit_path, method: :put do |f| %>
  <fieldset>
    <legend align="center"><%= t('spree.admin.store_credits.edit_amount') %></legend>
    <div data-hook="admin_store_credit_form_fields" class="row">
      <div class="col-6">
        <%= f.field_container :amount do %>
          <%= f.label :amount, class: 'required' %><br />
          <%= render "spree/admin/shared/number_with_currency", f: f,
            amount_attr: :amount, currency: @store_credit.currency, required: true %>
          <%= f.error_message_on :amount %>
        <% end %>
      </div>
      <div class="col-6">
        <%= render 'store_credit_reason_field', f: f %>
      </div>
    </div>
    <%= render 'spree/admin/shared/edit_resource_links',
      collection_url: admin_user_store_credits_path(@user, @store_credit) %>
  </fieldset>
<% end %>
