<% content_for :page_title do %>
  <%= link_to "#{Spree.t(:editing_user)} #{@user.email}", edit_admin_user_url(@user) %>
<% end %>

<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :store_credits %>
<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t("admin.store_credits.back_to_edit"), admin_user_store_credit_path(@user, @store_credit), class: 'button' %></li>
<% end %>

<%= form_for [:admin, @user, @store_credit], url: update_amount_admin_user_store_credit_path, method: :put do |f| %>
  <fieldset>
    <legend align="center"><%= Spree.t("admin.store_credits.edit_amount") %></legend>
    <div data-hook="admin_store_credit_form_fields" class="row">
      <div class="alpha twelve columns">
        <%= f.field_container :amount do %>
          <%= f.label :amount, class: 'required' %><br />
          <%= f.number_field :amount, min: 0.00, step: :any %>
          <%= f.error_message_on :amount %>
        <% end %>
      </div>
      <%= render partial: 'update_reason_field', locals: { f: f } %>
    </div>
    <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: admin_user_store_credits_path(@user, @store_credit) } %>
  </fieldset>
<% end %>
