<% admin_breadcrumb(link_to plural_resource_name(Spree::LegacyUser), spree.admin_users_path) %>
<% admin_breadcrumb(link_to @user.email, edit_admin_user_url(@user)) %>
<% admin_breadcrumb(Spree::StoreCredit.model_name.human) %>


<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :store_credits %>
<% content_for :page_actions do %>
  <% if can?(:create, Spree::StoreCredit) %>
    <li><%= link_to Spree.t("admin.store_credits.add"), new_admin_user_store_credit_path(@user), class: 'button' %></li>
  <% end %>
<% end %>

<% if @store_credits.any? %>
  <div id='sc-current-balance'>
    <strong><%= Spree.t("admin.store_credits.current_balance") %> </strong><%= @user.display_total_available_store_credit %>
  </div>

  <table>
    <thead>
      <th><%= Spree::StoreCredit.human_attribute_name(:amount_credited) %></th>
      <th><%= Spree::StoreCredit.human_attribute_name(:amount_used) %></th>
      <th><%= Spree::StoreCredit.human_attribute_name(:amount_authorized) %></th>
      <th><%= Spree::StoreCredit.human_attribute_name(:category_id) %></th>
      <th><%= Spree::StoreCredit.human_attribute_name(:created_by_id) %></th>
      <th><%= Spree::StoreCredit.human_attribute_name(:created_at) %></th>
      <th><%= Spree::StoreCredit.human_attribute_name(:invalidated_at) %></th>
      <th data-hook="admin_store_credits_index_header_actions" class="actions"></th>
    <thead>
    <tbody>
      <% @store_credits.each do |store_credit| %>
        <tr>
          <td class='align-center'>
            <span><%= store_credit.display_amount.to_html %></span>
          </td>
          <td class='align-center'>
            <span><%= store_credit.display_amount_used.to_html %></span>
          </td>
          <td class='align-center'>
            <span><%= store_credit.display_amount_authorized.to_html %></span>
          </td>
          <td class='align-center'>
            <span><%= store_credit.category_name %></span>
          </td>
          <td>
            <span><%= store_credit.created_by_email %></span>
          </td>
          <td class='align-center'>
            <span><%= l store_credit.created_at.to_date %></span>
          </td>
          <td class='align-center'>
            <span><%= store_credit.invalidated? %></span>
          </td>
          <td class="actions" data-hook="admin_store_credits_index_row_actions">
            <% if can?(:show, store_credit) %>
              <%= link_to_edit_url admin_user_store_credit_path(@user, store_credit), { no_text: true, class: 'edit' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::StoreCredit,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
