<%= paginate variant_prices, theme: "solidus_admin" %>

<fieldset class="no-border-bottom">
  <legend align="center"><%= I18n.t(:variant_pricing, scope: :spree) %></legend>
  <table class="index prices">
    <thead data-hook="prices_header">
      <tr>
        <th><%= Spree::Variant.model_name.human %> </th>
        <th><%= Spree::Price.human_attribute_name(:country) %></th>
        <th><%= Spree::Price.human_attribute_name(:currency) %></th>
        <th><%= Spree::Price.human_attribute_name(:amount) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% variant_prices.each do |price| %>
        <tr id="<%= spree_dom_id price %>" data-hook="prices_row" class="<%= "deleted" if price.discarded? %>">
          <td><%= price.variant.descriptive_name %></td>
          <td><%= price.display_country %></td>
          <td><%= price.currency %></td>
          <td><%= price.money.to_html %></td>
          <td class="actions">
            <% if can?(:update, price) %>
              <%= link_to_edit(price, no_text: true) unless price.discarded? %>
            <% end %>
            <% if can?(:destroy, price) %>
              &nbsp;
              <%= link_to_delete(price, no_text: true) unless price.discarded? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

<%= paginate variant_prices, theme: "solidus_admin" %>
