<th>
  {{ human_attribute_name "spree/shipment" "tracking" }}
</th>
<td colspan="4">
  {{#if editing}}
    <form>
      <input type="text" name="tracking" class="fullwidth" value="{{tracking}}">
    </form>
  {{else}}
    {{#if tracking}}
      {{ tracking }}
    {{else}}
      {{ t "no_tracking_present" }}
    {{/if}}
  {{/if}}
</td>
<td class="actions">
  {{#if editing}}
    <button class="js-save icon_button no-text with-tip" data-action="save" title="{{ t "actions.save" }}">{{solidus_icon "check"}}</button>
    <button class="js-cancel icon_button no-text with-tip" data-action="cancel" title="{{ t "actions.cancel" }}">{{solidus_icon "cancel"}}</button>
  {{else}}
    <button class="js-edit icon_button no-text with-tip" data-action="edit" title="{{ t "actions.edit" }}">{{solidus_icon "edit"}}</button>
  {{/if}}
</td>
