
<div class="condition promotion-block" id="<%= dom_id condition %>">
  <%= form_with model: condition, scope: :condition, url: solidus_friendly_promotions.admin_promotion_promotion_action_condition_path(@promotion, condition.action, condition), method: :patch do |form| %>
    <h6 class='promotion-title'><%= condition.class.model_name.human %></h6>
    <% if can?(:destroy, condition) %>
      <%= link_to_with_icon 'trash', '', solidus_friendly_promotions.admin_promotion_promotion_action_condition_path(@promotion, condition.action, condition), method: :delete, class: 'delete' %>
    <% end %>

    <% param_prefix = "promotion[conditions_attributes][#{condition.id}]" %>
    <%= hidden_field_tag "#{param_prefix}[id]", condition.id %>
    <%= render partial: "spree/shared/error_messages", locals: { target: condition } %>
    <%= render condition, condition: condition, param_prefix: "condition", form: form %>

    <% if condition.updateable? %>
      <div class="row">
        <div class="col-12">
          <%= form.submit(t(:update, scope: [:solidus_friendly_promotions, :crud]), class: "btn btn-secondary float-right") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
