<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:refund_reasons) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <% if can?(:create, Spree::RefundReason) %>
      <li>
        <%= button_link_to Spree.t(:new_refund_reason), new_object_url, { icon: 'plus', id: 'admin_new_named_type' } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @collection.any? %>
  <table class="index" id='listing_named_types' data-hook>
    <colgroup>
      <col style="width: 65%" />
      <col style="width: 20%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="named_types_header">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:active) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |named_type| %>
        <tr id="<%= spree_dom_id named_type %>" data-hook="named_type_row" class="<%= cycle('odd', 'even')%>">
          <td class="align-center">
            <%= named_type.name %>
          </td>
          <td class="align-center">
            <%= Spree.t(named_type.active? ? :say_yes : :say_no) %>
          </td>
          <td class="actions">
            <% if can?(:update, named_type) && named_type.mutable? %>
              <%= link_to_edit named_type, no_text: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/refund_reason')) %>
    <% if can?(:create, Spree::RefundReason) %>
      <%= link_to Spree.t(:add_one), new_object_url %>!
    <% end %>
  </div>
<% end %>
