<% shipment.manifest.each do |item| %>
  <tr class="stock-item" data-item-quantity="<%= item.quantity %>">
    <td class="item-image">
      <%= render 'spree/admin/shared/image',
        image: (item.variant.gallery.images.first || item.variant.product.gallery.images.first),
        size: :mini %>
    </td>
    <td class="item-name">
      <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
      <% if item.variant.sku.present? %>
        <strong><%= Spree::Variant.human_attribute_name(:sku) %>:</strong> <%= item.variant.sku %>
      <% end %>
    </td>
    <td class="item-price"><%= item.line_item.single_money.to_html %></td>
    <td class="item-qty-show">
        <% item.states.each do |state,count| %>
          <%= count %> x <%= t(state, scope: 'spree.inventory_states') %>
        <% end %>
    </td>
    <td class="item-total"><%= line_item_shipment_price(item.line_item, item.quantity) %></td>
  </tr>
<% end %>
