<%= render 'spree/admin/shared/general_tabs' %>

<% admin_breadcrumb(Spree.t(:settings)) %>
<% admin_breadcrumb(Spree.t(:general_settings)) %>
<% admin_breadcrumb(plural_resource_name(Spree::Tracker)) %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Tracker) %>
    <li>
      <%= button_link_to Spree.t(:new_tracker), new_object_url, :id => 'admin_new_tracker_link' %>
    </li>
  <% end %>
<% end %>

<% if @trackers.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 30%">
      <col style="width: 40%">
      <col style="width: 15%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_trackers_index_headers">
        <th><%= Spree::Tracker.human_attribute_name(:analytics_id) %></th>
        <th><%= Spree::Tracker.human_attribute_name(:active) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @trackers.each do |tracker|%>
        <tr id="<%= spree_dom_id tracker %>" data-hook="admin_trackers_index_rows" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= tracker.analytics_id %></td>
          <td class="align-center"><%= tracker.active ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td class="actions">
            <% if can?(:update, tracker) %>
              <%= link_to_edit tracker, :no_text => true %>
            <% end %>

            <% if can?(:destroy, tracker) %>
              <%= link_to_delete tracker, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::Tracker,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
