<div class="flex flex-col gap-2 w-full">
  <div class="flex gap-1 items-center">
    <label class="text-gray-700 font-semibold text-xs" <%= tag.attributes for: @attributes[:id] %>>
      <%= @label %>
    </label>
    <%= render component('ui/toggletip').new(text: @tip) if @tip.present? %>
  </div>

  <%= tag.select(options_for_select(@choices, @selected), **@attributes) %>

  <% if @hint.present? || @error.present? %>
    <div class="
      font-normal text-xs
      [:disabled~&]:text-gray-300 text-gray-500
      flex gap-1 flex-col [&>.error]:hidden [&>.error]:peer-invalid:block
    ">
      <%= tag.span @hint if @hint.present? %>
      <%= tag.span safe_join(@error, tag.br), class: "error text-red-600" %>
    </div>
  <% end %>
</div>
