<dialog
  data-controller="<%= stimulus_id %>"
  <%= tag.attributes(
    "aria-label": @title,
    class: "relative z-10",
    **@attributes
  ) %>
>
  <a aria-hidden="true" class="cursor-default fixed inset-0 bg-full-black/50 overflow-y-auto" data-action="click-><%= stimulus_id %>#close"></a>
  <div class="fixed inset-0 z-10 pointer-events-none flex min-h-full justify-center p-4 text-center items-center">
    <div class="min-w-[40rem] max-h-screen pointer-events-auto cursor-auto relative transform overflow-auto rounded-lg bg-white text-left shadow-xl max-w-lg divide-y divide-gray-100">

      <header class="flex items-center justify-between p-4 sticky top-0 bg-inherit">
        <h3 class="text-xl font-semibold text-gray-900">
          <%= @title %>
        </h3>
        <form method="dialog">
          <%= render component('ui/button').new(
            icon: 'close-line',
            scheme: :ghost,
            title: t('.close'),
          ) %>
        </form>
      </header>

      <div class="p-4 overflow-auto">
        <%= content %>
      </div>

      <% if actions? %>
        <footer class="p-4 flex gap-2 justify-end sticky bottom-0 bg-inherit">
          <%= actions %>
        </footer>
      <% end %>
    </div>
  </div>
</dialog>
