<li class="group <%= item_active_classes %>">
  <a href="<%= path %>"
    class="
      block
      py-0.5 px-3 mb-0.5 rounded
      hover:text-red-500 hover:bg-gray-50
      <%= link_active_classes %>
      <%= link_level_classes %>
    "
    aria-current="<%= aria_current %>"
  >
      <%= icon %>
      <%= name %>
  </a>
  <%= nested_items %>
</li>
