<li class="group <%= item_active_classes %>">
  <a href="<%= path %>"
    class="
      block
      py-2 px-3 mb-1
      font-sans text-sm
      hover:text-red-500 hover:bg-gray-50
      <%= link_active_classes %>
      <%= link_level_classes %>
    ">
      <%= icon %>
      <%= name %>
  </a>
  <%= nested_items %>
</li>
