<div class="row">
  <div class="col-6">
    <%= turbo_frame_tag @promotion, dom_id(promotion_action) do %>

    <div class="promotion_action promotion-block">
      <h6 class='promotion-title'> <%= promotion_action.model_name.human %></h6>

      <% if can?(:destroy, promotion_action) %>
        <%= link_to_with_icon 'trash', '', solidus_friendly_promotions.admin_promotion_promotion_action_path(@promotion, promotion_action), method: :delete, class: 'delete' %>
      <% end %>


      <%= render "solidus_friendly_promotions/admin/promotion_actions/calculator_select",
        path: solidus_friendly_promotions.edit_admin_promotion_promotion_action_path(@promotion, promotion_action),
        promotion_action: promotion_action %>

      <%=
        form_with(
        model: promotion_action,
        scope: :promotion_action,
        url: solidus_friendly_promotions.admin_promotion_promotion_action_path(@promotion, promotion_action),
        data: { turbo: false }
      ) do |form| %>
        <%= render 'solidus_friendly_promotions/admin/promotion_actions/form', form: form %>
        <div class="row">
          <div class="col-12">
            <%= button_tag t(:update, scope: [:solidus_friendly_promotions, :crud]), class: "btn btn-secondary float-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="col-6">
    <fieldset>
      <legend align="center"><%= t("promotion_conditions", scope: :solidus_friendly_promotions) %></legend>
        <%= render partial: 'solidus_friendly_promotions/admin/conditions/condition', collection: promotion_action.conditions %>

        <%= turbo_frame_tag promotion_action, "new_condition" do %>
          <%= link_to t(:add_condition, scope: :solidus_friendly_promotions), solidus_friendly_promotions.new_admin_promotion_promotion_action_condition_path(@promotion, promotion_action), class: 'btn btn-secondary' %>
        <% end %>
    </fieldset>
  </div>
</div>
