<%= turbo_frame_tag @promotion, @promotion_action do %>
  <div class="promotion_action promotion-block">
    <h6 class='promotion-title'> <%= @promotion_action.class.human_attribute_name(:description) %></h6>
    <%= link_to_with_icon 'trash', '', solidus_friendly_promotions.admin_promotion_promotion_action_path(@promotion, @promotion_action), method: :delete, class: 'delete' %>
    <%= render 'calculator_select', path: solidus_friendly_promotions.edit_admin_promotion_promotion_action_path(@promotion, @promotion_action), promotion_action: @promotion_action %>

    <%=
      form_with(
        model: @promotion_action,
        scope: :promotion_action,
        url: solidus_friendly_promotions.admin_promotion_promotion_action_path(@promotion, @promotion_action),
      ) do |form| %>
      <%= render "form", form: form %>

      <div class="row">
        <div class="col-12">
          <%= button_tag "Update", class: "btn btn-secondary float-right" %>
        </div>
      </div>

    <% end %>
  </div>
<% end %>
