<div class="field alpha omega eight columns promo-rule-option-values">
  <div class="param-prefix hidden" data-param-prefix="<%= param_prefix %>"></div>
  <div class="four columns alpha"><%= label_tag nil, Spree::Product.model_name.human %></div>
  <div class="three columns omega"><%= label_tag nil, plural_resource_name(Spree::OptionValue) %></div>
  <div class="clear"></div>

  <div class="js-promo-rule-option-values"></div>

  <button class="button js-add-promo-rule-option-value"><%= Spree.t('actions.add') %></button>
</div>

<%= content_tag :div, nil, class: "hidden js-original-promo-rule-option-values",
  data: { :'original-option-values' => promotion_rule.preferred_eligible_values } %>
