<%= form_tag stock_admin_product_path, method: :get do %>
  <fieldset>
    <legend align="center"><%= Spree.t(:variant_search) %></legend>

      <div class="alpha four columns">
        <div class="field">
        <%= label_tag :sku, "Search by sku" %>
        <%= text_field_tag :sku, @sku %>
        </div>
      </div>

      <div class="four columns">
        <div class="field">
        <%= label_tag :search, "Option values" %>
        <%= collection_select :option_value, :option_value_ids, @option_values, :id, :presentation_with_option_type, { selected: @selected_option_value_ids }, {multiple: true, :name => "option_value_ids[]", :class => 'select2 fullwidth'} %>
        </div>
      </div>

      <div class="omega four columns">
        <div class="field checkbox">
          <label>
            <%= check_box_tag :hide_out_of_stock, 1, @hide_out_of_stock %>
            <%= Spree.t(:hide_out_of_stock) %>
          </label>
      </div>
      </div>

      <div class="clear"></div>

    <div class="form-buttons actions filter-actions">
      <%= button Spree.t(:search), 'search' %>
    </div>
  </fieldset>
<% end %>
