<% content_for :page_actions do %>
  <% if can?(:create, Spree::Product) %>
    <li id="new_product_link">
      <%= button_link_to Spree.t(:new_product), new_object_url, { :id => 'admin_new_product' } %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Product Details' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<% admin_breadcrumb(Spree.t(:product_details)) %>

<%= form_for [:admin, @product], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <% if can?(:update, @product) %>
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </fieldset>
<% end %>
