<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_products_list), session[:return_to] || admin_products_url, :icon => 'arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Stock Management' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<div id="variant_search_form">
  <%= render partial: 'variant_search_form' %>
</div>

<% if @variants.present? %>
  <%= render partial: 'add_stock_form' if @stock_locations.any? %>

  <%= paginate @variants %>

  <table class="index" id="listing_product_stock">
    <colgroup>
      <col style="width: 25%" />
      <col style="width: 25%" />
      <col style="width: 25%" />
      <col style="width: 25%" />
    </colgroup>
    <thead>
      <tr data-hook="admin_product_stock_management_index_headers">
        <th><%= Spree.t(:variant) %></th>
        <th colspan="4"><%= Spree.t(:stock_location_info) %></th>
      </tr>
    </thead>
    <tbody>
      <% @variants.each do |variant| %>
        <% next if variant.stock_items.to_a.sum(&:count_on_hand) == 0 && @hide_out_of_stock %>

        <tr id="<%= spree_dom_id variant %>" data-hook="admin_product_stock_management_index_rows" class="<%= cycle('odd', 'even') %>">
          <td class="align-center">
            <%= variant.sku_and_options_text %>
            <br>
            <% if variant.images.present? %>
              <%= image_tag variant.images.first.attachment.url(:mini) %>
            <% end %>
            <br/>
            <% if can?(:update, variant) %>
              <%= form_tag admin_product_variants_including_master_path(@product, variant, format: :js), method: :put, class: 'toggle_variant_track_inventory' do %>
                  <%= check_box_tag 'track_inventory', 1, variant.track_inventory?,
                                    class: 'track_inventory_checkbox' %>
                  <%= Spree.t(:track_inventory) %>
                  <%= hidden_field_tag 'variant[track_inventory]', variant.track_inventory?,
                      class: 'variant_track_inventory',
                      id: "variant_track_inventory_#{variant.id}" %>
              <% end %>
            <% else %>
              <%= "#{Spree.t(:track_inventory)}: #{variant.track_inventory?}" %>
            <% end %>
          </td>
          <td colspan="4" class="stock_location_info">
            <table>
              <colgroup>
                <col style="width: 45%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
                <col style="width: 15%" />
              </colgroup>
              <thead>
                <th><%= Spree.t(:stock_location) %></th>
                <th><%= Spree.t(:count_on_hand) %></th>
                <th><%= Spree.t(:backorderable) %></th>
                <th class="actions"></th>
              </thead>
              <tbody>
                <% variant.stock_items.each do |item| %>
                  <% if !@stock_locations.include?(item.stock_location) || !(@hide_out_of_stock && item.count_on_hand == 0) %>
                    <tr id="stock-item-<%= item.id %>" class="<%= cycle('odd', 'even', :name => 'stock_locations')%>">
                      <td class="align-center"><%= item.stock_location.name %></td>
                      <td class="align-center count-on-hand"><%= item.count_on_hand %></td>
                      <td class="align-center">
                        <% if can?(:update, item) %>
                          <%= form_tag admin_stock_item_path(item), method: :put, class: 'toggle_stock_item_backorderable' do %>
                            <%= check_box_tag 'stock_item[backorderable]', true,
                                  item.backorderable?,
                                  class: 'stock_item_backorderable',
                                  id: "stock_item_backorderable_#{item.stock_location.id}" %>
                          <% end %>
                        <% else %>
                          <%= item.backorderable? %>
                        <% end %>
                      </td>
                      <td class="actions">
                        <%= link_to(icon('delete'), [:admin, item],
                              method: :delete, remote: true,
                              class: 'icon_link with-tip fa fa-trash no-text',
                              title: Spree.t(:remove), data: { action: :remove, confirm: Spree.t(:are_you_sure) }) if can?(:destroy, item) %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </td>
          <% reset_cycle("stock_locations") %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @variants %>
<% end %>
