<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Payment), spree.admin_order_payments_path(@order)) %>
<% admin_breadcrumb do %>
  <%= payment_method_name(@payment) %>
  <span class="state <%= @payment.state %>">
    <%= Spree.t(@payment.state, :scope => :payment_states, :default => @payment.state.capitalize) %>
  </span>
<% end %>


<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:logs), spree.admin_order_payment_log_entries_url(@order, @payment) %></li>
<% end %>

<%= render :partial => "spree/admin/payments/source_views/#{@payment.payment_method.method_type}", :locals => { :payment => @payment.source.is_a?(Spree::Payment) ? @payment.source : @payment } %>

<div data-hook="amount" class="align-center">
  <h5><%= label_tag nil, Spree::Payment.human_attribute_name(:amount) %>: <span class="green"><%= @payment.display_amount.to_html %></span> </h5>
</div>

<%= render 'spree/admin/payments/capture_events' %>
