<% admin_breadcrumb(link_to plural_resource_name(SolidusFriendlyPromotions::Promotion), solidus_friendly_promotions.admin_promotions_path) %>
<% admin_breadcrumb(plural_resource_name(SolidusFriendlyPromotions::PromotionCategory)) %>

<% content_for :page_actions do %>
  <% if can?(:create, SolidusFriendlyPromotions::PromotionCategory) %>
    <li>
      <%= link_to t('solidus_friendly_promotions.new_promotion_category'), solidus_friendly_promotions.new_admin_promotion_category_path, class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>

<% if @promotion_categories.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 40%">
      <col style="width: 40%">
      <col style="width: 20%">
    </colgroup>
    <thead>
      <th><%= SolidusFriendlyPromotions::PromotionCategory.human_attribute_name :name %></th>
      <th><%= SolidusFriendlyPromotions::PromotionCategory.human_attribute_name :code %></th>
      <th class='actions'></th>
    </thead>
    <tbody>
      <% @promotion_categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.code %></td>
          <td class="actions">
            <% if can?(:update, category) %>
              <%= link_to_edit category, no_text: true %>
            <% end %>
            <% if can?(:destroy, category) %>
              <%= link_to_delete category, no_text: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: SolidusFriendlyPromotions::PromotionCategory,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
