<%= form_for [:admin, product, image], html: { multipart: true } do |f| %>
  <fieldset data-hook="new_image">
    <legend align="center"><%= t('spree.new_image') %></legend>

      <%= render partial: 'form', locals: { f: f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
        <%= link_to t('spree.actions.cancel'), admin_product_images_url(@product), id: 'cancel_link', class: 'button' %>
      </div>
  </fieldset>
<% end %>
