<%= render :partial => 'solidus/shared/error_messages', :locals => { :target => @property } %>

<%= form_for [:admin, @property] do |f| %>
<fieldset data-hook="new_property">
  <legend align="center"><%= Solidus.t(:new_property) %></legend>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="filter-actions">
    <%= render :partial => 'solidus/admin/shared/new_resource_links' %>
  </div>
</fieldset>
<% end %>
