<div class="relative inline-block" data-controller="<%= stimulus_id %>">
  <button
    type="button"
    class="block w-[1rem] h-[1rem]"
    data-target="<%= stimulus_id %>.button"
    data-action="<%= stimulus_id %>#toggle"
    aria-label="<%= t('.get_help') %>"
  >
    <%=
      icon_tag("question-fill", class: "w-[1rem] h-[1rem] #{icon_theme_classes}")
    %>
  </button>
  <div
    class="hidden absolute inline-block w-[9rem] px-[0.75rem] body-tiny-bold rounded z-10 <%= bubble_position_classes %> <%= bubble_theme_classes %>"
    data-target="<%= stimulus_id %>.bubble"
    data-content="<%= @guide %>"
  >
   <span
     role="status"
     class="relative block bg-inherit py-[0.5rem] <%= bubble_arrow_pseudo_element %>"
     data-target="<%= stimulus_id %>.content"
   >
     <%= @guide %>
   </span>
  </div>
</div>
