<div class="row">

  <div data-hook="bill_address_wrapper" class="col-6 js-addresses-form">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= t('spree.billing_address') %></legend>
      <%= f.fields_for :bill_address, @user.bill_address || Spree::Address.build_default do |ba_form| %>
        <%= render partial: 'spree/admin/shared/address_form', locals: { f: ba_form, type: "billing" } %>
      <% end %>
    </fieldset>
  </div>

  <div data-hook="ship_address_wrapper" class="col-6 js-addresses-form">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= t('spree.shipping_address') %></legend>
      <%= f.fields_for :ship_address, @user.ship_address || Spree::Address.build_default do |sa_form| %>
        <%= render partial: 'spree/admin/shared/address_form', locals: { f: sa_form, type: "shipping" } %>
      <% end %>
    </fieldset>
  </div>

</div>
