<% admin_breadcrumb(link_to plural_resource_name(Spree::LegacyUser), spree.admin_users_path) %>
<% admin_breadcrumb(@user.valid? ? @user.email : @user.email_was) %>

<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :account %>
<%= render partial: 'spree/admin/users/user_page_actions' %>

<fieldset data-hook="admin_user_edit_general_settings">
  <legend><%= Spree.user_class.model_name.human %></legend>

  <div data-hook="admin_user_edit_form_header">
    <%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
  </div>

  <div data-hook="admin_user_edit_form">
    <%= form_for [:admin, @user], as: :user, url: admin_user_url(@user), method: :put do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <% if can?(:update, @user) %>
        <div data-hook="admin_user_edit_form_button">
          <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: admin_users_url } %>
        </div>
      <% end %>
    <% end %>
  </div>
</fieldset>

<% if can?(:update, @user) && can?(:manage, :api_key) %>
  <fieldset data-hook="admin_user_api_key" id="admin_user_edit_api_key">
    <legend><%= t('.api_access') %></legend>

    <div id="user-api-key"
      data-user-id="<%= @user.id %>"
      data-api-key="<%= @user.spree_api_key %>"
      data-is-current-user="<%= @user == try_spree_current_user %>"
    >
    </div>
  </fieldset>
<% end %>
