<div data-hook="admin_country_form_fields" class="row">
  <div class="col-xs-5">
    <div data-hook="name" class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="col-xs-5">
    <div data-hook="iso_name" class="field">
      <%= f.label :iso_name %>
      <%= f.text_field :iso_name, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="col-xs-2">
    <div data-hook="states_required" class="field checkbox">
      <label>
        <%= f.check_box :states_required %>
        <%= Spree::Country.human_attribute_name(:states_required) %>
      </label>
    </div>
  </div>
</div>
