<%= turbo_frame_tag :resource_form, target: "_top" do %>
  <%= render component("ui/modal").new(title: t(".title")) do |modal| %>
    <%= form_for @store_credit, url: form_url, method: :post, html: { id: form_id } do |f| %>
      <div class="flex flex-col gap-6 pb-4">
        <%= render component("ui/forms/field").text_field(f, :amount, class: "required") %>
        <%= render component("ui/forms/field").select(
          f,
          :currency,
          Spree::Config.available_currencies.map { [_1.iso_code, _1.iso_code] },
          placeholder: t("spree.currency"),
          value: Spree::Config.currency,
          html: { required: true }
        ) %>
        <%= render component("ui/forms/field").select(
          f,
          :category_id,
          @store_credit_categories.map { [_1.name, _1.id] },
          include_blank: t(".choose_category"),
          html: { required: true }
        ) %>
        <%= render component("ui/forms/field").text_field(f, :memo) %>
      </div>
      <% modal.with_actions do %>
        <form method="dialog">
          <%= render component("ui/button").new(scheme: :secondary, text: t(".cancel")) %>
        </form>
        <%= render component("ui/button").new(form: form_id, type: :submit, text: t(".submit")) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
