<details class="relative w-full" aria-label="<%= t('.account') %>">
  <summary
    class="
      flex gap-1.5
      p-3 mt-2 rounded
      body-small-bold text-gray-500
      hover:bg-gray-25 [[open]_>_&]:bg-gray-25
      cursor-pointer
      [&::marker]:hidden
      [&::-webkit-details-marker]:hidden
    ">
    <%= icon_tag("user-smile-fill", class: "inline-block align-text-bottom shrink-0 w-6 h-6 rounded-[4.81rem] body-small fill-yellow bg-black") %>
    <span class="overflow-hidden whitespace-nowrap text-ellipsis">
      <%= @user_label %>
    </span>
  </summary>

  <ul
    class="
      p-2 mb-1 absolute bottom-full left-0 w-full
      body-small text-black bg-white
      border border-gray-100 rounded-lg
      shadow-base
    ">

    <% if (available_locales = Spree.i18n_available_locales).any? %>
      <li class="h-8 flex items-center hover:bg-gray-25 rounded">
        <%= form_tag request.fullpath, method: :get do %>
          <label class="flex gap-2 items-center px-2">
            <%= icon_tag("global-line", class: "w-full max-w-[20px] h-5 fill-current shrink") %>
            <select class="w-full appearance-none grow bg-transparent outline-none" onchange="this.form.requestSubmit()" name="switch_to_locale">
              <%= options_for_select(
                available_locales
                  .map do |locale|
                    [
                      t(
                        "spree.i18n.this_file_language",
                        locale: locale,
                        default: locale.to_s,
                        fallback: false
                      ),
                      locale
                    ]
                  end
                  .sort,
                selected: I18n.locale,
              ) %>
            </select>
            <%= icon_tag("expand-up-down-line", class: "w-full max-w-[20px] h-5 fill-current shrink") %>
          </label>
        <% end %>
      </li>
    <% end %>
    <li class="h-8 flex items-center hover:bg-gray-25 rounded">
      <%= link_to @account_path, class: 'flex gap-2 items-center px-2' do %>
        <%= icon_tag("user-3-line", class: "w-5 h-5 fill-current shrink") %>
        <span><%= t('.account') %></span>
      <% end %>
    </li>
    <li class="h-8 flex items-center hover:bg-gray-25 rounded">
      <%= link_to @logout_path, method: @logout_method, class: 'flex gap-2 items-center px-2' do %>
        <%= icon_tag("logout-box-line", class: "w-5 h-5 fill-current shrink") %>
        <span><%= t('.logout') %></span>
      <% end %>
    </li>
  </ul>
</details>
