<div class="<%= stimulus_id %> px-4">
  <header class="py-6 flex items-center">
    <h1 class="body-title">
      <%= title %>
    </h1>

    <div class="ml-auto flex gap-2 items-center">
      <span class="max-w-xs text-xs text-right text-gray-600 hidden lg:block">
        <%= t(".feedback_description") %>
      </span>
      <%= render @button_component.new(
        tag: :a,
        text: t(".give_feedback"),
        href: "https://solidus.io/feedback?category=solidus-admin",
        icon: "feedback-line",
        scheme: :secondary,
        target: :_blank,
      ) %>
      <%= render @button_component.new(
        tag: :a,
        text: t('.add_product'),
        href: spree.new_admin_product_path,
        icon: "add-line",
      ) %>
    </div>
  </header>

  <%= render @table_component.new(
    id: 'products-list',
    model_class: Spree::Product,
    rows: @page.records,
    search_key: SolidusAdmin::Config[:product_search_key],
    search_url: solidus_admin.products_path,
    batch_actions: batch_actions,
    filters: filters,
    columns: columns,
    prev_page_link: prev_page_link,
    next_page_link: next_page_link,
  ) %>
</div>
