<% content_for :page_actions do %>
  <% if @return_authorization.can_cancel? %>
    <li>
      <%= button_to t('spree.actions.cancel'), fire_admin_order_return_authorization_url(@order, @return_authorization, e: 'cancel'), method: :put, data: { confirm: t('spree.are_you_sure') } %>
    </li>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Return Authorizations' } %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::ReturnAuthorization), spree.admin_order_return_authorizations_url) %>
<% admin_breadcrumb(
  """
    #{ @return_authorization.number }
    (#{ t(
      @return_authorization.state,
      scope: 'spree.return_authorization_states'
    ) })
  """
) %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @return_authorization } %>

<div data-hook="return-authorization-form-wrapper">
	<%= form_for [:admin, @order, @return_authorization] do |f| %>
	  <fieldset class="no-border-top">
	    <%= render partial: 'form', locals: { f: f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
        <%= link_to t('spree.actions.cancel'), admin_order_return_authorizations_url(@order), class: 'btn btn-primary' %>
      </div>
    </fieldset>
	<% end %>
</div>
