<% content_for :page_actions do %>
  <% if @return_authorization.can_cancel? %>
    <li>
      <%= button_link_to Spree.t('actions.cancel'), fire_admin_order_return_authorization_url(@order, @return_authorization, e: 'cancel'), method: :put, data: { confirm: Spree.t(:are_you_sure) }, icon: 'remove' %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Return Authorizations' } %>

<% content_for :page_title do %>
  &#x2f; <%= link_to Spree::ReturnAuthorization.model_name.human(count: :other), spree.admin_order_return_authorizations_url %>
  &#x2f; <%= @return_authorization.number %> &#40;<%= Spree.t(@return_authorization.state.downcase) %>&#41;
<% end %>


<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'repeat' %>
      <%= button_link_to Spree.t('actions.cancel'), admin_order_return_authorizations_url(@order), :icon => 'remove' %>
    </div>
  </fieldset>
<% end %>
