<table class="index sortable" id='listing_taxonomies' data-hook data-sortable-link="<%= update_positions_admin_taxonomies_url %>">
  <thead>
    <tr data-hook="taxonomies_header">
      <% if !spree_current_user.has_spree_role?("seller") %>
        <th></th>
      <% end %>
      <th><%= Spree::Taxonomy.human_attribute_name(:name) %></th>
      <% if !spree_current_user.has_spree_role?("seller") %>
        <th class="actions"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @taxonomies.each do |taxonomy| %>
      <tr id="<%= spree_dom_id taxonomy %>" data-hook="taxonomies_row">
        <% if !spree_current_user.has_spree_role?("seller") %>
          <td>
            <% if can?(:update_positions, Spree::Taxonomy) %>
              <span class="handle"></span>
            <% end %>
          </td>
        <% end %>
        <td><%= taxonomy.name %></td>
        <% if !spree_current_user.has_spree_role?("seller") %>
          <td class="actions">
            <% if can?(:update, taxonomy) %>
              <%= link_to_edit taxonomy, no_text: true %>
            <% end %>
            <% if can?(:destroy, taxonomy) %>
              <%= link_to_delete taxonomy, no_text: true %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
