<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::Taxonomy), spree.admin_taxonomies_path) %>
<% admin_breadcrumb(@taxonomy.name) %>


<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.add_taxon'), spree.admin_taxonomies_path, class: 'add-taxon-button btn btn-primary' %>
  </li>
<% end %>

<%= form_for [:admin, @taxonomy] do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>
    <div class="filter-actions actions">
      <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      <%= link_to t('spree.actions.cancel'), admin_taxonomies_path, class: 'btn btn-default' %>
    </div>
  </fieldset>


  <div id="taxonomy_tree" class="tree" data-taxonomy-id="<%= @taxonomy.id %>"></div>
<% end %>
