<% content_for :page_title do %>
  <%= link_to Spree::Product.model_name.human(count: :other), spree.admin_products_path  %> &#x2f; 
  <%= link_to Spree::Taxonomy.model_name.human(count: :other), spree.admin_taxonomies_path %> &#x2f;
  <%= Spree.t(:new_taxonomy) %>
<% end %>

<% content_for :page_actions do %>
<% end %>

<%= form_for [:admin, @taxonomy] do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <fieldset class="no-border-top">
    <br>
    <div class="filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'ok' %>
    </div>
  </fieldset>
<% end %>
