<%= turbo_frame_tag :resource_form, target: "_top" do %>
  <%= page do %>
    <%= page_header do %>
      <%= page_header_back(back_url) %>
      <%= page_header_title(t('.title')) %>
      <%= page_header_actions do %>
        <%= render component("ui/button").new(text: t(".save"),form: form_id) %>
      <% end %>
    <% end %>

    <div class="flex flex-col gap-4">
      <%= form_for @option_type, url: form_url, html: { id: form_id } do |f| %>
        <%= render component("ui/panel").new(title: t(".panels.option_type.title")) do |panel| %>
          <% panel.with_section(class: "flex flex-col gap-4") do %>
            <div class="flex gap-4 w-full">
              <%= render component("ui/forms/field").text_field(f, :name, class: "required") %>
              <%= render component("ui/forms/field").text_field(f, :presentation, class: "required") %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= render component("ui/panel").new(title: t(".panels.option_values.title")) do |panel| %>
        <% panel.with_section(wide: true, high: true, class: "flex flex-col gap-4") do %>
          <div id="option_values_table">
            <%= render component("option_values/table").new(@option_type) %>
          </div>
        <% end %>

        <% panel.with_action(
          name: t(".panels.option_values.add"),
          href: solidus_admin.new_option_type_option_value_path(@option_type),
          data: { turbo_frame: :option_value_modal }
        ) %>
      <% end %>

      <%= page_footer do %>
        <%= render component("ui/button").new(text: t(".save"), form: form_id) %>
      <% end %>
    </div>

    <%= turbo_frame_tag :option_value_modal, target: "_top" %>
  <% end %>
<% end %>
