<p>
  <%= condition.class.human_attribute_name(:description) %>
</p>
<%= fields_for param_prefix, condition do |form| %>
  <div class="field">
    <%= form.label :preferred_match_policy %>
    <%= form.select :preferred_match_policy,
      SolidusPromotions::Conditions::TaxonRevenue.match_policy_options,
      {}, class: "custom-select fullwidth" %>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= form.label :preferred_operator %>
        <%= form.select :preferred_operator, options_for_select(condition.class.operator_options, condition.preferred_operator), {}, {class: 'custom-select select_item_total fullwidth'} %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= fields_for param_prefix, condition do |f| %>
          <%= f.label :preferred_amount %>
          <%= render "solidus_promotions/admin/shared/number_with_currency", f: f, amount_attr: :preferred_amount, currency_attr: :preferred_currency %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field taxons_condition_taxons">
    <%= form.label :taxon_ids_string, t('solidus_promotions.taxon_condition.choose_taxons') %>
    <%= form.hidden_field :taxon_ids_string, value: condition.taxon_ids.join(","), is: "taxon-picker", class: "fullwidth" %>
  </div>

<% end %>
