<%= turbo_frame_tag @promotion, "new_#{@level}_promotion_rule" do %>
  <div class="promotion_rule promotion-block">
    <h6 class='promotion-title'> <%= t(:add_rule, scope: :solidus_friendly_promotions) %></h6>
    <%= link_to_with_icon 'trash', '', spree.edit_admin_promotion_path(@promotion), class: 'delete' %>
    <%= render 'type_select', level: @level %>
    <% flash.each do |severity, message| %>
      <%= content_tag(:div, "", data: { controller: :flash, severity: severity, message: message }) %>
    <% end %>
    <% if @promotion_rule %>
      <p class="pt-3">
        <%= @promotion_rule.class.human_attribute_name(:description) %>
      </p>
      <%= form_with model: @promotion_rule, scope: "promotion_rule", url: solidus_friendly_promotions.admin_promotion_promotion_rules_path(@promotion), data: { turbo: false } do |form| %>
        <%= hidden_field_tag :level, @level %>
        <%= hidden_field_tag "promotion_rule[type]", @promotion_rule.class.name %>
        <%= render @promotion_rule, promotion_rule: @promotion_rule, param_prefix: "promotion_rule", form: form %>
        <div class="row mt-2">
          <div class="col-12">
            <%= button_tag "Add", class: "btn btn-secondary float-right", data: { "turbo-frame" => "_top" } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
