<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Solidus Style Guide</title>

    <%= stylesheet_link_tag "spree/backend/all" %>
    <%= javascript_include_tag "spree/backend/all" %>
    <%= render "spree/admin/shared/translations" %>
  </head>

  <body class="admin style-guide">
    <div class="style-guide-main-content">
      <div class="style-guide-intro">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
