<div
  class="
    rounded-lg
    border
    border-gray-100
    overflow-hidden
  "
  data-controller="<%= stimulus_id %>"
  data-<%= stimulus_id %>-selected-row-class="bg-gray-15"
>
  <% toolbar_classes = "h-14 p-2 bg-white border-b border-gray-100 justify-start items-center gap-2 visible:flex hidden:hidden" %>

  <div role="search">
    <div class="<%= toolbar_classes %>" data-<%= stimulus_id %>-target="searchToolbar">
      <%= form_with(
        url: @search_url,
        method: :get,
        html: {
          id: search_form_id,
          class: 'flex-grow',
          "data-turbo-frame": table_frame_id,
          "data-turbo-action": "replace",
          "data-#{stimulus_id}-target": "searchForm",
          "data-action": "reset->#{stimulus_id}#search",
        },
      ) do |form| %>
        <label class="items-center gap-1 p-0 inline-flex w-full justify-start relative">
          <%= render @icon_component.new(name: 'search-line', class: "w-[1.4em] h-[1.4em] fill-gray-500 absolute ml-3") %>
          <span class="sr-only">
            <%= t('.search_placeholder', resources: resource_plural_name) %>
          </span>
          <input
            name="q[<%= @search_key %>]"
            value="<%= params.dig(:q, @search_key) %>"
            placeholder="<%= t('.search_placeholder', resources: resource_plural_name) %>"
            class="peer w-full placeholder:text-gray-400 py-1.5 px-10 bg-white rounded border border-gray-300"
            data-<%= stimulus_id %>-target="searchField"
            data-action="<%= stimulus_id %>#search"
          >
          <button
            class="absolute right-0 mr-3 peer-placeholder-shown:hidden"
            data-action="<%= stimulus_id %>#clearSearch"
          >
            <%= render @icon_component.new(name: 'close-circle-fill', class: "w-[1.4em] h-[1.4em] fill-gray-500") %>
            <span class="sr-only"><%= t('.clear') %></span>
          </button>
        </label>
      <% end %>

      <div class="ml-4">
        <%= render @button_component.new(
          text: t('.cancel'),
          scheme: :ghost,
          "data-action": "#{stimulus_id}#cancelSearch",
        ) %>
      </div>
    </div>

    <% if @filters.any? %>
      <div class="<%= toolbar_classes %>" data-<%= stimulus_id %>-target="filterToolbar">
        <div class="font-semibold text-gray-700 text-sm px-2"><%= t('.refine_search') %>:</div>
        <% @filters.each do |filter| %>
          <label class="flex gap-2 px-2">
            <%= render component('ui/forms/checkbox').new(
              name: filter[:name],
              value: filter[:value],
              size: :s,
              form: search_form_id,
              'data-action': "#{stimulus_id}#search",
            ) %>
            <span class="text-gray-700 leading-none text-sm self-center"><%= filter[:label] %></span>
          </label>
        <% end %>
      </div>
    <% end %>

    <div class="<%= toolbar_classes %>" data-<%= stimulus_id %>-target="scopesToolbar">
      <div class="flex-grow">
        <%= render @tab_component.new(text: "All", current: true, href: "") %>
      </div>

      <%= render @button_component.new(
        'aria-label': t('.filter'),
        icon: "filter-3-line",
        scheme: :secondary,
        "data-action": "#{stimulus_id}#showSearch",
      ) %>
    </div>
  </div>

  <div class="<%= toolbar_classes %>" data-<%= stimulus_id %>-target="batchToolbar" aria-label="<%= t(".batch_actions") %>">
    <%= form_tag '', id: batch_actions_form_id %>
    <% @batch_actions.each do |batch_action| %>
      <%= render_batch_action_button(batch_action) %>
    <% end %>
  </div>

  <%= turbo_frame_tag table_frame_id, target: "_top" do %>
    <table class="table-fixed w-full border-collapse">
      <colgroup>
        <% @columns.each do |column| %>
          <col class="<%= column.class_name %>">
        <% end %>
      </colgroup>

      <thead
        class="bg-gray-15 text-gray-700 text-left text-small"
        data-<%= stimulus_id %>-target="defaultHeader"
      >
        <tr>
          <% @columns.each do |column| %>
            <%= render_header_cell(column.header) %>
          <% end %>
        </tr>
      </thead>

      <% if @batch_actions %>
        <thead
          data-<%= stimulus_id %>-target="batchHeader"
          class="bg-white color-black text-xs leading-none text-left"
          hidden
        >
          <tr>
            <%= render_header_cell(selectable_column.header) %>
            <%= render_header_cell(content_tag(:div, safe_join([
              content_tag(:span, "0", "data-#{stimulus_id}-target": "selectedRowsCount"),
              " #{t('.rows_selected')}.",
            ])), colspan: @columns.count - 1) %>
          </div>
        </thead>
      <% end %>

      <tbody class="bg-white text-3.5 line-[150%] text-black">
        <% @rows.each do |row| %>
          <tr class="border-b border-gray-100">
            <% @columns.each do |column| %>
              <%= render_data_cell(column.data, row) %>
            <% end %>
          </tr>
        <% end %>

        <% if @rows.empty? && @model_class %>
          <tr>
            <td
              colspan="<%= @columns.size %>"
              class="text-center py-4 text-3.5 line-[150%] text-black bg-white"
            >
              <%= t('.no_resources_found', resources: resource_plural_name) %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <% if @prev_page_link || @next_page_link %>
        <tfoot>
          <tr>
            <td colspan="<%= @columns.size %>" class="py-4 bg-white">
              <div class="flex justify-center">
                <%= render @pagination_component.new(
                  prev_link: @prev_page_link,
                  next_link: @next_page_link
                ) %>
              </div>
            </td>
          </tr>
        </tfoot>
      <% end %>

    </table>
  <% end %>
</div>
