<div
  class="
    rounded-lg
    border
    border-gray-100
    overflow-hidden
  "
  data-controller="<%= stimulus_id %>"
>
  <% toolbar_classes = "h-14 p-2 bg-white border-b border-gray-100 justify-start items-center gap-2 flex" %>

  <div class="<%= toolbar_classes %>">
    <%= render component('ui/tab').new(text: "All", active: true, scheme: :secondary, href: "") %>
  </div>

  <% if @batch_actions %>
    <%= form_tag '', id: batch_actions_form_id %>

    <div class="<%= toolbar_classes %>">
      <% @batch_actions.each do |batch_action| %>
        <%= render_batch_action_button(batch_action) %>
      <% end %>
    </div>
  <% end %>

  <table class="table-fixed w-full border-collapse">
    <colgroup>
      <% @columns.each do |column| %>
        <col class="<%= column.class_name %>">
      <% end %>
    </colgroup>

    <thead class="bg-gray-15 text-gray-700 text-left text-small">
      <tr>
        <% @columns.each do |column| %>
          <%= render_header_cell(column.header) %>
        <% end %>
      </tr>
    </thead>

    <% if @batch_actions %>
      <thead
        data-<%= stimulus_id %>-target="batchHeader"
        class="bg-white color-black text-xs leading-none text-left"
      >
        <tr>
          <%= render_header_cell(selectable_column.header) %>
          <%= render_header_cell(content_tag(:div, " #{t('.rows_selected')}."), colspan: @columns.count - 1) %>
        </div>
      </thead>
    <% end %>

    <tbody class="bg-white text-3.5 line-[150%] text-black">
      <% @rows.each do |row| %>
        <tr class="border-b border-gray-100">
          <% @columns.each do |column| %>
            <%= render_data_cell(column.data, row) %>
          <% end %>
        </tr>
      <% end %>

      <% if @rows.empty? && @model_class %>
        <tr>
          <td
            colspan="<%= @columns.size %>"
            class="text-center py-4 text-3.5 line-[150%] text-black bg-white"
          >
            <%= t('.no_resources_found', resources: @model_class.model_name.human.pluralize) %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <%= render_table_footer %>
  </table>
</div>
