<div
  class="
    rounded-lg
    border
    border-gray-100
  "
  data-controller="<%= stimulus_id %>"
  data-<%= stimulus_id %>-selected-row-class="bg-gray-15"
  data-<%= stimulus_id %>-mode-value="<%= initial_mode %>"
  data-action="
    <%= component("ui/table/ransack_filter").stimulus_id %>:search-><%= stimulus_id %>#search
    <%= component("ui/table/ransack_filter").stimulus_id %>:showSearch-><%= stimulus_id %>#showSearch
  "
>
  <div role="search">
    <%= render component("ui/table/toolbar").new("data-#{stimulus_id}-target": "searchToolbar", hidden: initial_mode != "search") do %>
      <%= form_with(
        url: @search_url,
        method: :get,
        html: {
          id: search_form_id,
          class: 'flex-grow',
          "data-turbo-frame": table_frame_id,
          "data-turbo-action": "replace",
          "data-#{stimulus_id}-target": "searchForm",
          "data-action": "input->#{stimulus_id}#search change->#{stimulus_id}#search",
        },
      ) do |form| %>
        <%= render component('ui/forms/search_field').new(
          name: "#{@search_param}[#{@search_key}]",
          value: params.dig(@search_param, @search_key),
          placeholder: t('.search_placeholder', resources: resource_plural_name),
          "data-#{stimulus_id}-target": "searchField",
          "aria-label": t('.search_placeholder', resources: resource_plural_name),
        ) %>
      <% end %>

      <div class="ml-4">
        <%= render component("ui/button").new(
          text: t('.cancel'),
          scheme: :ghost,
          "data-action": "#{stimulus_id}#cancelSearch",
        ) %>
      </div>
    <% end %>

    <% if @filters.any? %>
      <%= render component("ui/table/toolbar").new("data-#{stimulus_id}-target": "filterToolbar", hidden: initial_mode != "search") do %>
        <% @filters.each_with_index do |filter, index| %>
          <%= render_ransack_filter_dropdown(filter, index) %>
        <% end %>
      <% end %>
    <% end %>

    <%= render component("ui/table/toolbar").new("data-#{stimulus_id}-target": "scopesToolbar", hidden: initial_mode != "scopes") do %>
      <div class="flex-grow">
        <%= render component("ui/tab").new(text: "All", current: true, href: "") %>
      </div>

      <%= render component("ui/button").new(
        'aria-label': t('.filter'),
        icon: "filter-3-line",
        scheme: :secondary,
        "data-action": "#{stimulus_id}#showSearch",
      ) %>
    <% end %>
  </div>

  <%= render component("ui/table/toolbar").new("data-#{stimulus_id}-target": "batchToolbar", role: "toolbar", "aria-label": t(".batch_actions"), hidden: true) do %>
    <%= form_tag '', id: batch_actions_form_id %>
    <% @batch_actions.each do |batch_action| %>
      <%= render_batch_action_button(batch_action) %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag table_frame_id, target: "_top" do %>
    <table class="table-fixed w-full border-collapse">
      <colgroup>
        <% @columns.each do |column| %>
          <col <%= tag.attributes(**column.col) if column.col %>">
        <% end %>
      </colgroup>

      <thead
        class="bg-gray-15 text-gray-700 text-left text-small"
        data-<%= stimulus_id %>-target="defaultHeader"
      >
        <tr>
          <% @columns.each do |column| %>
            <%= render_header_cell(column.header) %>
          <% end %>
        </tr>
      </thead>

      <% if @batch_actions %>
        <thead
          data-<%= stimulus_id %>-target="batchHeader"
          class="bg-white color-black text-xs leading-none text-left"
          hidden
        >
          <tr>
            <%= render_header_cell(selectable_column.header) %>
            <%= render_header_cell(content_tag(:div, safe_join([
              content_tag(:span, "0", "data-#{stimulus_id}-target": "selectedRowsCount"),
              " #{t('.rows_selected')}.",
            ])), colspan: @columns.count - 1) %>
          </tr>
        </thead>
      <% end %>

      <tbody class="bg-white text-3.5 line-[150%] text-black">
        <% @rows.each do |row| %>
          <tr
            class="border-b border-gray-100 last:border-0 hover:bg-gray-50 cursor-pointer <%= 'bg-gray-15 text-gray-700' if @row_fade&.call(row) %>"
            <% if @row_url %>
              data-action="click-><%= stimulus_id %>#rowClicked"
              data-<%= stimulus_id %>-url-param="<%= @row_url.call(row) %>"
            <% end %>
          >
            <% @columns.each do |column| %>
              <%= render_data_cell(column, row) %>
            <% end %>
          </tr>
        <% end %>

        <% if @rows.empty? && @model_class %>
          <tr>
            <td
              colspan="<%= @columns.size %>"
              class="text-center py-4 text-3.5 line-[150%] text-black bg-white rounded-b-lg"
            >
              <%= t('.no_resources_found', resources: resource_plural_name) %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <% if @prev_page_link || @next_page_link %>
        <tfoot>
          <tr>
            <td colspan="<%= @columns.size %>" class="py-4 bg-white rounded-b-lg border-t border-gray-100">
              <div class="flex justify-center">
                <%= render component('ui/table/pagination').new(
                  prev_link: @prev_page_link,
                  next_link: @next_page_link
                ) %>
              </div>
            </td>
          </tr>
        </tfoot>
      <% end %>

    </table>
  <% end %>
</div>
