<fieldset class="<%= stimulus_id %>"
  data-controller="<%= stimulus_id %>"
  <%= :disabled if @disabled %>
>
  <div class="<%= stimulus_id %>--address-form flex flex-wrap gap-4 pb-4">
    <%= render component("ui/forms/field").text_field(@form, :name) %>
    <%= render component("ui/forms/field").text_field(@form, :address1) %>
    <%= render component("ui/forms/field").text_field(@form, :address2) %>
    <div class="flex gap-4 w-full">
      <%= render component("ui/forms/field").text_field(@form, :city) %>
      <%= render component("ui/forms/field").text_field(@form, :zipcode) %>
    </div>

    <%= render component("ui/forms/field").select(
      @form,
      :country_id,
      Spree::Country.all.map { |c| [c.name, c.id] },
      value: @form.object.try(:country_id),
      "data-#{stimulus_id}-target": "country",
      "data-action": "change->#{stimulus_id}#loadStates"
    ) %>

    <%= render component("ui/forms/field").select(
      @form,
      :state_id,
      state_options,
      value: @form.object.try(:state_id),
      "data-#{stimulus_id}-target": "state"
    ) %>

    <%= render component("ui/forms/field").text_field(@form, :phone) %>
  </div>
</fieldset>
