<fieldset class="<%= stimulus_id %>"
  data-controller="<%= stimulus_id %>"
  <%= :disabled if @disabled %>
>
  <div class="<%= stimulus_id %>--address-form flex flex-wrap gap-4 pb-4">
    <%= render component("ui/forms/field").text_field(@fieldset_name, :name, object: @addressable) %>
    <%= render component("ui/forms/field").text_field(@fieldset_name, :address1, object: @addressable) %>
    <%= render component("ui/forms/field").text_field(@fieldset_name, :address2, object: @addressable) %>
    <div class="flex gap-4 w-full">
      <%= render component("ui/forms/field").text_field(@fieldset_name, :city, object: @addressable) %>
      <%= render component("ui/forms/field").text_field(@fieldset_name, :zipcode, object: @addressable) %>
    </div>

    <%= render component("ui/forms/field").select(
      @fieldset_name,
      :country_id,
      Spree::Country.all.map { |c| [c.name, c.id] },
      object: @addressable,
      value: @addressable.try(:country_id),
      "data-#{stimulus_id}-target": "country",
      "data-action": "change->#{stimulus_id}#loadStates"
    ) %>

    <%= content_tag(:div,
      data: { "#{stimulus_id}-target": "stateNameWrapper" },
      class: (@addressable.country&.states&.empty? ? "flex flex-col gap-2 w-full" : "hidden flex flex-col gap-2 w-full")
        ) do %>
      <%= render component("ui/forms/field").text_field(
        @fieldset_name,
        :state_name,
        object: @addressable,
        value: @addressable.try(:state_name),
        "data-#{stimulus_id}-target": "stateName"
      ) %>
    <% end %>
    <input autocomplete="off" type="hidden" name=<%= "#{@fieldset_name}[state_id]" %>>

    <%= content_tag(:div,
      data: { "#{stimulus_id}-target": "stateWrapper" },
      class: (@addressable.country&.states&.empty? ? "hidden flex flex-col gap-2 w-full" : "flex flex-col gap-2 w-full")
        ) do %>
      <%= render component("ui/forms/field").select(
        @fieldset_name,
        :state_id,
        state_options,
        object: @addressable,
        value: @addressable.try(:state_id),
        "data-#{stimulus_id}-target": "state"
      ) %>
    <% end %>

    <%= render component("ui/forms/field").text_field(@fieldset_name, :phone,  object: @addressable) %>
  </div>
</fieldset>
