<%= turbo_frame_tag @promotion, "new_benefit" do %>
  <div class="benefit promotion-block">
    <h6 class='promotion-title'> <%= t(:add_action, scope: :solidus_friendly_promotions) %></h6>
    <%= link_to_with_icon 'trash', '', solidus_friendly_promotions.edit_admin_promotion_path(@promotion), class: 'delete' %>
    <%= render 'type_select' %>
    <% if @benefit.respond_to?(:calculator) %>
      <%= render 'calculator_select', path: solidus_friendly_promotions.new_admin_promotion_benefit_path(@promotion), benefit: @benefit %>
      <% if @benefit.calculator %>
        <%=
          form_with(
            model: @benefit,
            scope: :benefit,
            url: solidus_friendly_promotions.admin_promotion_benefits_path(@promotion),
            data: { turbo: false }
          ) do |form| %>
          <%= render 'form', form: form %>
          <div class="row">
            <div class="col-12">
              <%= button_tag t(:add, scope: [:solidus_friendly_promotions, :crud]), class: "btn btn-secondary float-right" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
