<p>
  <%= condition.class.human_attribute_name(:description) %>
</p>
<div class="row">
  <div class="col-12">
    <div class="field products_condition_products">
      <%= label_tag "#{param_prefix}_product_ids_string", t('solidus_friendly_promotions.product_condition.choose_products') %>
      <%= hidden_field_tag "#{param_prefix}[product_ids_string]", condition.product_ids.join(","), class: "fullwidth", is: "product-picker" %>
    </div>
  </div>
  <div class="col-12">
    <div class="field">
        <%= label_tag("#{param_prefix}_preferred_match_policy", condition.class.human_attribute_name(:preferred_match_policy)) %>
        <%= select_tag(
          "#{param_prefix}[preferred_match_policy]",
          options_for_select(I18n.t("solidus_friendly_promotions.conditions.line_item_product.match_policies").to_a.map(&:reverse), condition.preferred_match_policy),
          class: "custom-select fullwidth"
        ) %>
    </div>
  </div>
</div>
