{{#each taxons}}
  <li data-taxon-id="{{id}}" data-taxon-taxonomy-id="{{taxonomy_id}}">
    {{#if (isRootTaxon) }}
    <div class="taxon">
    {{else}}
    <div class="taxon sortable">
      {{solidus_icon "arrows"}}
    {{/if}}
      {{name}}
      <div class="actions float-right">
        <a href="#" class="js-taxon-add-child icon_link no-text">{{solidus_icon "plus"}}</a>
        <a href="{{admin_url}}/taxonomies/{{taxonomy_id}}/taxons/{{id}}/edit" class="icon_link no-text">{{solidus_icon "edit"}}</a>
        <a href="#" class="js-taxon-delete icon_link no-text">{{solidus_icon "trash"}}</a>
      </div>
    </div>
    {{#if taxons }}
    <ul>
      {{> taxons/_tree }}
    </ul>
    {{/if}}
  </li>
{{/each}}
