<%= render :partial => 'solidus/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Solidus.t(:stock_locations) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <% if can?(:create, Solidus::StockLocation) %>
      <li>
        <%= button_link_to Solidus.t(:new_stock_location), new_object_url, { :icon => 'plus', :id => 'admin_new_stock_location' } %>
      </li>
    <% end %>

    <% if can?(:create, Solidus::StockTransfer) %>
      <li>
        <%= button_link_to Solidus.t(:new_stock_transfer), new_admin_stock_transfer_path, { :icon => 'forward' } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @stock_locations.any? %>
  <table class="index sortable" id='listing_stock_locations' data-hook data-sortable-link="<%= update_positions_admin_stock_locations_url %>">
    <colgroup>
      <col style="width: 10%">
      <col style="width: 30%" />
      <col style="width: 15%" />
      <col style="width: 30%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="stock_locations_header">
        <th class="no-border"></th>
        <th><%= Solidus.t(:name) %></th>
        <th><%= Solidus.t(:state) %></th>
        <th><%= Solidus.t(:stock_movements) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_locations.each do |stock_location|
           @edit_url = edit_admin_stock_location_path(stock_location)
           @delete_url = admin_stock_location_path(stock_location)
      %>
        <tr id="<%= solidus_dom_id stock_location %>" data-hook="stock_location_row" class="<%= cycle('odd', 'even')%>">
          <td class="no-border">
            <% if can?(:update_positions, Solidus::StockLocation) %>
              <span class="handle"></span>
            <% end %>
          </td>
          <td class="align-center"><%= display_name(stock_location) %></td>
          <td class="align-center"><span class="state <%= state(stock_location) %>"><%= Solidus.t(state(stock_location)) %></span></td>
          <td class="align-center">
            <% if can?(:display, Solidus::StockMovement) %>
              <%= link_to Solidus.t(:stock_movements), admin_stock_location_stock_movements_path(stock_location.id) %>
            <% else %>
              Stock Movements
            <% end %>
          </td>
          <td class="actions">
            <% if can?(:update, stock_location) %>
              <%= link_to_edit stock_location, :no_text => true %>
            <% end %>
            <% if can?(:destroy, stock_location) %>
              <%= link_to_delete stock_location, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Solidus.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.solidus/stock_location')) %>
    <% if can?(:create, Solidus::StockLocation) %>
      <%= link_to Solidus.t(:add_one), solidus.new_admin_stock_location_path %>!
    <% end %>
  </div>
<% end %>
