<div class="field taxons_rule_taxons">
  <%= label_tag "#{param_prefix}_taxon_ids_string", t("solidus_friendly_promotions.taxon_rule.choose_taxons") %>
  <%= hidden_field_tag "#{param_prefix}[taxon_ids_string]", promotion_rule.taxon_ids.join(","), class: "taxon_picker fullwidth", id: "product_taxon_ids" %>
</div>
<div class="field">
   <div class="field">
        <%= label_tag("#{param_prefix}_preferred_match_policy", promotion_rule.class.human_attribute_name(:preferred_match_policy)) %>
        <%= select_tag(
              "#{param_prefix}[preferred_match_policy]",
              options_for_select(I18n.t("solidus_friendly_promotions.promotion_rules.line_item_taxon.match_policies").to_a.map(&:reverse), promotion_rule.preferred_match_policy),
              class: "custom-select fullwidth",
            ) %>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <%= form.submit(t((form.object.persisted? ? :update : :add), scope: [:solidus_friendly_promotions, :crud]), class: "btn btn-secondary float-right") %>
  </div>
</div>
