<fieldset data-hook="credit_card">
  <legend align="center"><%= Spree::CreditCard.model_name.human %></legend>

  <div class="row">
    <div class="col-4">
      <dl>
        <dt><%= t('spree.name_on_card') %>:</dt>
        <dd><%= payment.source.name %></dd>

        <dt><%= Spree::CreditCard.human_attribute_name(:cc_type) %>:</dt>
        <dd><%= payment.source.cc_type %></dd>

        <dt><%= Spree::CreditCard.human_attribute_name(:number) %>:</dt>
        <dd><%= payment.source.display_number %></dd>

        <dt><%= Spree::CreditCard.human_attribute_name(:expiration) %>:</dt>
        <dd><%= payment.source.month %>/<%= payment.source.year %></dd>
      </dl>
      <% if payment.source.address %>
        <%= render partial: 'spree/admin/shared/address', locals: {address: payment.source.address} %>
      <% end %>
    </div>
  </div>
</fieldset>
