<div class="px-4 relative" data-controller="<%= stimulus_id %>">
  <header class="py-6 flex items-center gap-4">
    <%= render component("ui/button").new(
      tag: :a,
      title: t(".back"),
      icon: "arrow-left-line",
      scheme: :secondary,
      href: solidus_admin.products_path
    ) %>
    <h1 class="flex items-center gap-2">
      <span class="body-title"><%= @product.name %></span>
      <%= render component("products/status").new(product: @product) %>
    </h1>

    <div class="ml-auto flex gap-2 items-center">
      <%= render component("feedback").new %>
      <%= render component("ui/button").new(
        tag: :a,
        text: t(".duplicate"),
        href: spree.clone_admin_product_path(@product),
        scheme: :ghost
      ) %>

      <%= render component("ui/button").new(
        tag: :a,
        text: t(".view"),
        href: SolidusAdmin::Config.storefront_product_path(@product),
        target: :_blank,
        scheme: :ghost
      ) %>
      <%= render component("ui/button").new(tag: :button, text: t(".save"), form: form_id) %>
    </div>
  </header>

  <%= form_for @product, url: solidus_admin.product_path(@product), html: { id: form_id } do |f| %>
    <div class="flex gap-4 items-start pb-4">
      <div class="justify-center items-start gap-4 flex flex-col w-full">
        <%= render component('ui/panel').new do %>
          <%= render component("ui/forms/text_field").new(field: :name, builder: f) %>
          <%= render component("ui/forms/text_field").new(field: :slug, builder: f) %>
          <%= render component("ui/forms/text_area").new(field: :description, builder: f) %>
        <% end %>

        <%= render component('ui/panel').new(title: 'SEO', title_hint: 'Search Engine Optimization') do %>
          <%= render component("ui/forms/text_field").new(field: :meta_title, builder: f) %>
          <%= render component("ui/forms/text_field").new(
            field: :meta_description,
            builder: f
          ) %>
          <%= render component("ui/forms/text_area").new(field: :meta_keywords, builder: f) %>
        <% end %>

        <%= render component('ui/panel').new(title: "Media") do |panel| %>
          <% panel.with_action(
            name: t(".manage_images"),
            href: spree.admin_product_images_path(@product)
          ) %>
        <% end %>

        <%= render component('ui/panel').new(title: 'Pricing') do %>
          <%= render component("ui/forms/text_field").new(field: :price, builder: f) %>
          <div class="flex gap-4 items-grow">
            <%= render component("ui/forms/text_field").new(field: :cost_price, builder: f) %>
            <%= render component("ui/forms/text_field").new(field: :cost_currency, builder: f) %>
          </div>
        <% end %>

        <%= render component('ui/panel').new(title: 'Stock') do |panel| %>
          <%= render component("ui/forms/text_field").new(field: :sku, builder: f) %>

          <% panel.with_action(
            name: t(".manage_stock"),
            href: spree.admin_product_stock_path(@product)
          ) %>
        <% end %>

        <%= render component('ui/panel').new(title: 'Shipping') do %>
          <%= render component("ui/forms/select").new(
            field: :shipping_category_id,
            toggletip: t(".hints.shipping_category_html"),
            choices:
              [[t(".none"), nil]] +
                Spree::ShippingCategory.order(:name).pluck(:name, :id),
            builder: f
          ) %>
          <%= render component("ui/forms/select").new(
            field: :tax_category_id,
            toggletip:
              t(
                ".hints.tax_category_html",
                default_tax_category: Spree::TaxCategory.default&.name
              ),
            choices:
              [[t(".none"), nil]] + Spree::TaxCategory.order(:name).pluck(:name, :id),
            builder: f
          ) %>
        <% end %>

        <%= render component('ui/panel').new(title: "Options") do %>
          <%= render component("ui/forms/label").new(field: :option_type_ids, builder: f) %>
          <%= f.select(
            :option_type_ids,
            option_type_options,
            { include_hidden: false },
            {
              multiple: true,
              size: option_type_options.size,
              class: "w-full padding-2 border border-gray-200 rounded overflow-y-auto"
            }
          ) %>
        <% end %>

        <%= render component('ui/panel').new(title: "Specifications") do |panel| %>
          <% panel.with_action(
            name: t(".manage_properties"),
            href: spree.admin_product_product_properties_path(@product)
          ) %>
        <% end %>
      </div>

      <aside class="justify-center items-start gap-4 flex flex-col w-full max-w-sm">
        <%= render component('ui/panel').new(title: "Publishing") do %>
          <%= render component("ui/forms/text_field").new(
            field: :available_on,
            toggletip: t(".hints.available_on_html"),
            builder: f,
            type: :date
          ) %>
          <%= render component("ui/forms/text_field").new(
            field: :discontinue_on,
            toggletip: t(".hints.discontinue_on_html"),
            builder: f,
            type: :date
          ) %>

          <label class="flex gap-2 items-center">
            <%= render component("ui/forms/checkbox").new(
              name: "#{f.object_name}[promotionable]",
              checked: f.object.promotionable
            ) %>
            <span class="body-text-sm"><%= Spree::Product.human_attribute_name :promotionable %></span>
            <%= render component("ui/toggletip").new(
              text: t(".hints.promotionable_html"),
              position: :left
            ) %>
          </label>
        <% end %>

        <%= render component('ui/panel').new(title: "Product organization") do %>
          <%= render component("ui/forms/label").new(field: :taxon_ids, builder: f) %>
          <%= f.select(
            :taxon_ids,
            taxon_options,
            { include_hidden: false },
            { multiple: true, size: taxon_options.size, class: "w-full" }
          ) %>
        <% end %>
      </aside>
    </div>
  <% end %>

  <div class="mt-4 py-4 px-2 pb-8 border-t border-gray-100 flex">
    <div class="flex gap-2 grow">
      <%= form_for @product, url: solidus_admin.product_path(@product), method: :delete do %>
        <%= render component("ui/button").new(
          tag: :button,
          text: t(".delete"),
          scheme: :secondary,
          class: "border-red-500 text-red-500 hover:bg-red-500 hover:text-white",
          "data-action": "click->#{stimulus_id}#confirmDelete",
          "data-#{stimulus_id}-message-param": t(".delete_confirmation"),
        ) %>
      <% end %>
    </div>
    <%= render component("ui/button").new(tag: :button, text: t(".save"), form: form_id) %>
  </div>
</div>
