<div class="px-4 relative" data-controller="<%= stimulus_id %>">
  <header class="py-6 flex items-center gap-4">
    <%= render component("ui/button").new(
      tag: :a,
      title: t(".back"),
      icon: "arrow-left-line",
      scheme: :secondary,
      href: solidus_admin.products_path
    ) %>
    <h1 class="flex items-center gap-2">
      <span class="body-title"><%= @product.name %></span>
      <%= render component("products/status").new(product: @product) %>
    </h1>

    <div class="ml-auto flex gap-2 items-center">
      <%= render component("feedback").new %>
      <%= render component("ui/button").new(
        tag: :a,
        text: t(".duplicate"),
        href: spree.clone_admin_product_path(@product),
        scheme: :ghost
      ) %>

      <%= render component("ui/button").new(
        tag: :a,
        text: t(".view"),
        href: SolidusAdmin::Config.storefront_product_path(@product),
        target: :_blank,
        scheme: :ghost
      ) %>
      <%= render component("ui/button").new(tag: :button, text: t(".save"), form: form_id) %>
    </div>
  </header>

  <%= form_for @product, url: solidus_admin.product_path(@product), html: { id: form_id } do |f| %>
    <div class="flex gap-4 items-start pb-4">
      </div>

      <aside class="justify-center items-start gap-4 flex flex-col w-full max-w-sm">
      </aside>
    </div>
  <% end %>

  <div class="mt-4 py-4 px-2 pb-8 border-t border-gray-100 flex">
    <div class="flex gap-2 grow">
      <%= form_for @product, url: solidus_admin.product_path(@product), method: :delete do %>
        <%= render component("ui/button").new(
          tag: :button,
          text: t(".delete"),
          scheme: :secondary,
          class: "border-red-500 text-red-500 hover:bg-red-500 hover:text-white",
          "data-action": "click->#{stimulus_id}#confirmDelete",
          "data-#{stimulus_id}-message-param": t(".delete_confirmation"),
        ) %>
      <% end %>
    </div>
    <%= render component("ui/button").new(tag: :button, text: t(".save"), form: form_id) %>
  </div>
</div>
