<details id="risk_analysis">
  <summary><%= t('spree.risk_analysis') %>: <%= t('spree.risky') %></summary>

  <table>
    <thead>
      <th><%= t('spree.payment') %></th>
      <th><%= t('spree.risk') %></th>
      <th><%= t('spree.status') %></th>
    </thead>
    <tbody id="risk-analysis" data-hook="order_details_adjustments"  class="with-border">
      <% order.payments.risky.each do |payment| %>
        <tr class="">
          <td><%= link_to payment.number, admin_order_payment_path(order, payment) %></td>
          <td>
            <span class="pill pill-warning"><%= t('spree.risky') %></span>
          </td>
          <td>
            <span class="pill pill-<%= payment.state %>">
              <%= t(payment.state, scope: 'spree.payment_states') %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</details>
