<%= render 'spree/admin/shared/settings_checkout_tabs' %>

<% admin_breadcrumb(t('spree.settings')) %>
<% admin_breadcrumb(t('spree.admin.tab.checkout')) %>
<% admin_breadcrumb(plural_resource_name(Spree::RefundReason)) %>


<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <% if can?(:create, Spree::RefundReason) %>
      <li>
        <%= link_to t('spree.new_refund_reason'), new_object_url, id: 'admin_new_named_type', class: 'btn btn-primary' %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @collection.any? %>
  <table class="index" id='listing_named_types' data-hook>
    <colgroup>
      <col style="width: 65%" />
      <col style="width: 20%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="named_types_header">
        <th><%= Spree::RefundReason.human_attribute_name(:name) %></th>
        <th><%= Spree::RefundReason.human_attribute_name(:state) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |named_type| %>
        <tr id="<%= spree_dom_id named_type %>" data-hook="named_type_row">
          <td>
            <%= named_type.name %>
          </td>
          <td>
            <span class="pill pill-<%= named_type.active? ? 'active' : 'inactive' %>">
              <%= t(named_type.active? ? :active : :inactive, scope: 'spree') %>
            </span>
          </td>
          <td class="actions">
            <% if can?(:update, named_type) && named_type.mutable? %>
              <%= link_to_edit named_type, no_text: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::RefundReason,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
