<fieldset id="calculator_fields" class="js-calculator-fields no-border-bottom">
  <legend align="center"><%= Spree::Calculator.model_name.human %></legend>

  <div id="preference-settings">
    <div class="field">
      <%= f.label(:calculator_type, Spree::Calculator.model_name.human) %>
      <%= f.select(:calculator_type, @calculators.map { |c| [c.description, c.name] }, {}, {class: 'select2 fullwidth js-calculator-type'}) %>
    </div>

    <% @calculators.each do |calculator_class| %>
      <% calculator = f.object.calculator.class == calculator_class ? f.object.calculator : calculator_class.new %>
      <div class="js-calculator-preferences" data-calculator-type="<%= calculator_class %>">
        <%= f.fields_for :calculator, calculator do |calculator_form| %>
          <%= preference_fields(calculator, calculator_form) %>
        <% end %>
      </div>
    <% end %>
  </div>
</fieldset>
