<% content_for :sidebar_title do %>
  <%= Spree.t(:configurations) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
      <% if can? :edit, :general_settings %>
        <%= configurations_sidebar_menu_item Spree.t(:general_settings), edit_admin_general_settings_path %>
      <% end %>

      <% if can? :display, Spree::TaxCategory %>
        <%= configurations_sidebar_menu_item Spree::TaxCategory.model_name.human(count: :other), admin_tax_categories_path %>
      <% end %>

      <% if can? :display, Spree::TaxRate %>
        <%= configurations_sidebar_menu_item Spree::TaxRate.model_name.human(count: :other), admin_tax_rates_path %>
      <% end %>

      <% if can? :display, Spree::Zone %>
        <%= configurations_sidebar_menu_item Spree::Zone.model_name.human(count: :other), admin_zones_path %>
      <% end %>

      <% if can? :display, Spree::Country %>
        <%= configurations_sidebar_menu_item Spree::Country.model_name.human(count: :other), admin_countries_path %>
      <% end %>

      <% if can?(:display, Spree::State) %>
        <% if country = Spree::Country.find_by_id(Spree::Config[:default_country_id]) || Spree::Country.first %>
          <%= configurations_sidebar_menu_item Spree::State.model_name.human(count: :other), admin_country_states_path(country) %>
        <% end %>
      <% end %>

      <% if can?(:display, Spree::PaymentMethod) %>
        <%= configurations_sidebar_menu_item Spree::PaymentMethod.model_name.human(count: :other), admin_payment_methods_path %>
      <% end %>

      <% if can?(:display, Spree::Taxonomy) %>
        <%= configurations_sidebar_menu_item Spree::Taxonomy.model_name.human(count: :other), admin_taxonomies_path %>
      <% end %>

      <% if can?(:display, Spree::ShippingMethod) %>
        <%= configurations_sidebar_menu_item Spree::ShippingMethod.model_name.human(count: :other), admin_shipping_methods_path %>
      <% end %>

      <% if can?(:display, Spree::ShippingCategory) %>
        <%= configurations_sidebar_menu_item Spree::ShippingCategory.model_name.human(count: :other), admin_shipping_categories_path %>
      <% end %>

      <% if can?(:display, Spree::StockLocation) %>
        <%= configurations_sidebar_menu_item Spree::StockLocation.model_name.human(count: :other), spree.admin_stock_locations_path %>
      <% end %>

      <% if can?(:display, Spree::Tracker) %>
        <%= configurations_sidebar_menu_item Spree.t(:analytics_trackers), admin_trackers_path %>
      <% end %>

      <% if can?(:display, Spree::RefundReason) %>
        <%= configurations_sidebar_menu_item Spree::RefundReason.model_name.human(count: :other), admin_refund_reasons_path %>
      <% end %>

      <% if can?(:display, Spree::ReimbursementType) %>
        <%= configurations_sidebar_menu_item Spree::ReimbursementType.model_name.human(count: :other), admin_reimbursement_types_path %>
      <% end %>

      <% if can?(:display, Spree::ReturnReason) %>
        <%= configurations_sidebar_menu_item Spree::ReturnReason.model_name.human(count: :other), admin_return_reasons_path %>
      <% end %>

      <% if can?(:display, Spree::AdjustmentReason) %>
        <%= configurations_sidebar_menu_item Spree.t(:adjustment_reasons), admin_adjustment_reasons_path %>
      <% end %>
    </ul>
  </nav>
<% end %>
