<div class="admin-nav">
  <%= render partial: 'spree/admin/shared/navigation_header' %>
  <div class="admin-nav-sticky">
    <%= render partial: 'spree/admin/shared/menu' %>
    <div class="admin-nav-footer">
      <%= button_tag class: 'btn fa fa-chevron-circle-left', id: 'admin-nav-toggle', type: :button do %>
        <span class="text"><%= t('spree.minimize_menu') %></span>
      <% end %>
      <%= render partial: 'spree/admin/shared/locale_selection' %>
      <%= render partial: 'spree/admin/shared/navigation_footer' %>
    </div>
  </div>
</div>
