<% amount_attr ||= :amount %>
<% currency_attr ||= :currency %>
<% currency ||= nil %>
<% required ||= nil %>

<div class="input-group number-with-currency <%= "number-with-currency-with-select" unless currency %> js-number-with-currency">
  <div class="input-group-addon number-with-currency-symbol"></div>
  <%= f.text_field amount_attr, value: number_to_currency(f.object.public_send(amount_attr), unit: ''), class: 'form-control number-with-currency-amount', required: required %>
  <% if currency %>
    <div class="input-group-addon number-with-currency-addon" data-currency="<%= currency %>">
      <%= ::Money::Currency.find(currency).iso_code %>
    </div>
  <% else %>
    <%= f.select currency_attr, ::Money::Currency.all.map(&:iso_code), {include_blank: true}, {required: required, class: 'number-with-currency-select'} %>
  <% end %>
</div>
