<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_settings_checkout_tabs">
      <% if can?(:display, Solidus::RefundReason) %>
        <%= settings_tab_item plural_resource_name(Solidus::RefundReason), spree.admin_refund_reasons_path %>
      <% end %>

      <% if can?(:display, Solidus::ReimbursementType) %>
        <%= settings_tab_item plural_resource_name(Solidus::ReimbursementType), spree.admin_reimbursement_types_path %>
      <% end %>

      <% if can?(:display, Solidus::ReturnReason) %>
        <%= settings_tab_item plural_resource_name(Solidus::ReturnReason), spree.admin_return_reasons_path %>
      <% end %>

      <% if can?(:display, Solidus::AdjustmentReason) %>
        <%= settings_tab_item plural_resource_name(Solidus::AdjustmentReason), spree.admin_adjustment_reasons_path %>
      <% end %>

      <% if can?(:display, Solidus::StoreCreditReason) %>
        <%= settings_tab_item plural_resource_name(Solidus::StoreCreditReason), spree.admin_store_credit_reasons_path %>
      <% end %>
    </ul>
  </nav>
<% end %>
