<fieldset class="no-border-bottom">
  <legend><%= Solidus.t(:payments) %></legend>
  <table class="index">
    <thead>
      <tr data-hook="payments_header">
        <th><%= Solidus.t(:identifier) %></th>
        <th><%= "#{Solidus.t('date')}/#{Solidus.t('time')}" %></th>
        <th><%= Solidus.t(:amount) %></th>
        <th><%= Solidus.t(:payment_method) %></th>
        <th><%= Solidus.t(:transaction_id) %></th>
        <th><%= Solidus.t(:payment_state) %></th>
      </tr>
    </thead>
    <tbody>
      <% payments.each do |payment| %>
        <tr>
          <td>
            <%= link_to payment.number, solidus.admin_order_payment_path(@order, payment) %>
          </td>
          <td>
            <%= pretty_time(payment.created_at) %>
          </td>
          <td class="align-center amount">
            <%= payment.display_amount.to_html %>
          </td>
          <td class="align-center">
            <%= payment_method_name(payment) %>
          </td>
          <td class="align-center">
            <%= payment.transaction_id %>
          </td>
          <td class="align-center">
            <span class="state <%= payment.state %>">
              <%= Solidus.t(payment.state, :scope => :payment_states, :default => payment.state.capitalize) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldsset>
