<%= render 'spree/admin/shared/payments_tabs' %>

<% admin_breadcrumb(Spree.t(:settings)) %>
<% admin_breadcrumb(plural_resource_name(Spree::Payment)) %>
<% admin_breadcrumb(plural_resource_name(Spree::PaymentMethod)) %>


<% content_for :page_actions do %>
  <% if can?(:create, Spree::PaymentMethod) %>
    <li>
      <%= button_link_to Spree.t(:new_payment_method), new_object_url, :id => 'admin_new_payment_methods_link' %>
    </li>
  <% end %>
<% end %>

<% if @payment_methods.any? %>
  <table class="index sortable" id="listing_payment_methods" data-hook data-sortable-link="<%= update_positions_admin_payment_methods_url %>">
    <colgroup>
      <col style="width: 10%">
      <col style="width: 13%">
      <col style="width: 33%">
      <col style="width: 13%">
      <col style="width: 19%">
      <col style="width: 19%">
      <col style="width: 13%">
    </colgroup>
    <thead>
      <tr data-hook="admin_payment_methods_index_headers">
        <th class="no-border"></th>
        <th><%= Spree::PaymentMethod.human_attribute_name(:name) %></th>
        <th><%= Spree::PaymentMethod.human_attribute_name(:type) %></th>
        <th><%= Spree::PaymentMethod.human_attribute_name(:display_on) %></th>
        <th><%= Spree::PaymentMethod.human_attribute_name(:active) %></th>
        <th data-hook="admin_payment_methods_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @payment_methods.each do |method|%>
        <tr id="<%= spree_dom_id method %>" data-hook="admin_payment_methods_index_rows" class="<%= cycle('odd', 'even')%>">
          <td class="no-border"><span class="handle"></span></td>
          <td class="align-center"><%= method.name %></td>
          <td class="align-center"><%= method.type %></td>
          <td class="align-center"><%= method.display_on.blank? ? Spree.t(:both) : Spree.t(method.display_on) %></td>
          <td class="align-center"><%= method.active ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td data-hook="admin_payment_methods_index_row_actions" class="actions">
            <% if can?(:update, method.becomes(Spree::PaymentMethod)) %>
              <%= link_to_edit method.becomes(Spree::PaymentMethod), :no_text => true %>
            <% end %>
            <% if can?(:destroy, method.becomes(Spree::PaymentMethod)) %>
              <%= link_to_delete method.becomes(Spree::PaymentMethod), :no_text => true  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::PaymentMethod,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
