<%= render 'spree/admin/shared/payments_tabs' %>

<% add_breadcrumb(Spree.t(:settings)) %>
<% add_breadcrumb(Spree::Payment.model_name.human(count: :other)) %>
<% add_breadcrumb(link_to Spree::PaymentMethod.model_name.human(count: :other), spree.admin_payment_methods_path) %>
<% add_breadcrumb(Spree.t(:new_payment_method)) %>


<% content_for :page_actions do %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => collection_url do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="filter-actions actions">
      <%= button Spree.t('actions.create'), 'ok' %>
    </div>
  </fieldset>
<% end %>
