<%= render 'spree/admin/shared/payments_tabs' %>

<% content_for :page_title do %>
  <%= Spree.t(:settings) %> &#x2f;
  <%= Spree::Payment.model_name.human(count: :other) %> &#x2f;
  <%= link_to Spree::PaymentMethod.model_name.human(count: :other), spree.admin_payment_methods_path %> &#x2f;
  <%= Spree.t(:new_payment_method) %>
<% end %>

<% content_for :page_actions do %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => collection_url do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="filter-actions actions">
      <%= button Spree.t('actions.create'), 'ok' %>
    </div>
  </fieldset>
<% end %>
