<tr id="<%= dom_id(wallet_payment_source, 'spree')%>" class="<%= cycle('even', 'odd') %>">
  <td><%= wallet_payment_source.payment_source.name %></td>
  <td><%= wallet_payment_source.payment_source.display_number %></td>
  <td><%= wallet_payment_source.payment_source.month %></td>
  <td><%= wallet_payment_source.payment_source.year %></td>
  <td>
    <%= radio_button_tag "order[wallet_payment_source_id]", wallet_payment_source.id, default, class: "existing-cc-radio" %>
  </td>
</tr>
