<div
  class="
    bg-white
    rounded-lg
    shadow-sm
    border
    border-gray-100
    flex-col
    justify-start
    items-start
    inline-flex
    w-full
    relative
  "
  data-controller="<%= stimulus_id %>"
>
  <% if menus? %>
    <%= render component('ui/dropdown').new(
      size: :s,
      class: "absolute top-0 right-0 m-6",
    ).with_content(safe_join(menus)) %>
  <% end %>

  <% if @title %>
    <section class="border-gray-100 border-t w-full first-of-type:border-t-0 p-6">
      <h2>
        <span class="body-title"><%= @title %></span>
        <%= render component("ui/toggletip").new(text: @title_hint) if @title_hint %>
      </h2>
    </section>
  <% end %>

  <% sections.each do |section| %>
    <%= section %>
  <% end %>

  <% if content.present? %>
    <section class="border-gray-100 border-t w-full first-of-type:border-t-0 p-6">
      <%= content %>
    </section>
  <% end %>

  <% if action? %>
    <section class="border-gray-100 border-t w-full first-of-type:border-t-0 p-6">
      <div class="flex justify-between items-center">
        <%= action %>
      </div>
    </section>
  <% end %>
</div>
