<div
  class="
    bg-white
    rounded-lg
    shadow-sm
    border
    border-gray-100
    flex-col
    justify-start
    items-start
    inline-flex
    w-full
    relative
  "
  data-controller="<%= stimulus_id %>"
>
  <% if menus? %>
    <details class="absolute top-0 right-0 m-6">
      <summary title="<%= t(".more") %>">
        <%= render component("ui/icon").new(
          name: "more-line",
          class: "cursor-pointer w-[22px] h-[22px] hover:fill-gray-500 [[open]_&]:fill-gray-500"
        ) %>
      </summary>
      <div
        class="
          body-small
          absolute
          border
          border-gray-100
          mt-0.5
          right-0
          flex
          min-w-[10rem]
          flex-col
          p-2
          rounded-sm
          shadow-lg
          bg-white
          z-10
        "
      >
        <% menus.each do |menu| %>
          <%= menu %>
        <% end %>
      </div>
    </details>
  <% end %>

  <% if @title %>
    <section class="border-gray-100 border-t w-full first-of-type:border-t-0 p-6">
      <h2>
        <span class="body-title"><%= @title %></span>
        <%= render component("ui/toggletip").new(text: @title_hint) if @title_hint %>
      </h2>
    </section>
  <% end %>

  <% sections.each do |section| %>
    <%= section %>
  <% end %>

  <% if content.present? %>
    <section class="border-gray-100 border-t w-full first-of-type:border-t-0 p-6">
      <%= content %>
    </section>
  <% end %>

  <% if action? %>
    <section class="border-gray-100 border-t w-full first-of-type:border-t-0 p-6">
      <div class="flex justify-between items-center">
        <%= action %>
      </div>
    </section>
  <% end %>
</div>
