<div
  class="
    bg-white
    rounded-lg
    shadow-sm
    border
    border-gray-100
    flex-col
    justify-start
    items-start
    inline-flex
    w-full
  "
  data-controller="<%= stimulus_id %>"
>
  <% if @title %>
    <h2 class="mt-0 p-6 w-full">
      <span class="body-title"><%= @title %></span>
      <%= render component('ui/toggletip').new(text: @title_hint) if @title_hint %>
    </h2>
  <% end %>

  <% sections.each do |section| %>
    <%= section %>
  <% end %>

  <% if content.present? %>
    <div class="p-6 w-full flex flex-col gap-6 <%= 'pt-0' if @title.present? && !sections? %>">
      <%= content %>
    </div>
  <% end %>

  <% if action? %>
    <div class="flex gap-2 items-center border-t border-gray-100 p-6 w-full">
      <%= action %>
    </div>
  <% end %>
</div>
