<div
  class="
    bg-white
    rounded-lg
    shadow-sm
    border
    border-gray-100
    flex-col
    justify-start
    items-start
    gap-6
    inline-flex
    w-full
    py-6
  "
  data-controller="<%= stimulus_id %>"
>
  <% if @title %>
    <h2 class="mt-0 px-6 w-full">
      <span class="body-title"><%= @title %></span>
      <%= render component('ui/toggletip').new(text: @title_hint, position: :left) if @title_hint %>
    </h2>
  <% end %>

  <% if content&.present? %>
    <div class="px-6 w-full flex flex-col gap-6">
      <%= content %>
    </div>
  <% end %>

  <% if action? %>
    <div class="flex gap-2 items-center border-t border-gray-100 px-6 pt-6 w-full">
      <%= action %>
    </div>
  <% end %>
</div>
