<%= render :partial => 'spree/admin/shared/stock_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('stock_transfer') %> <%= @stock_transfer.number %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_stock_transfers_list), admin_stock_transfers_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<fieldset class="no-border-bottom">
  <div class='location'>
    <h6>
      <span><%= @stock_transfer.source_location.admin_name %></span>
      <span class='arrow'>&rarr;</span>
      <span><%= @stock_transfer.destination_location.admin_name %></span>
    </h6>
  </div>

  <div>
    <label><%= Spree.t(:description) %></label>
    <p><%= @stock_transfer.description %></p>
  </div>

  <div class='field-block alpha three columns'>
    <label><%= Spree.t(:created_by) %></label>
    <p><%= @stock_transfer.created_by.email %></p>
  </div>

  <div class='field-block alpha three columns'>
    <label><%= Spree.t(:created_at) %></label>
    <p><%= @stock_transfer.created_at.try(:to_date) %></p>
  </div>

  <div class='field-block alpha three columns'>
    <label><%= Spree.t(:finalized_at) %></label>
    <p><%= @stock_transfer.finalized_at.try(:to_date) %></p>
  </div>

  <div class='field-block alpha three columns'>
    <label><%= Spree.t(:finalized_by) %></label>
    <p><%= @stock_transfer.finalized_by.try(:email) %></p>
  </div>

  <div class='field-block alpha three columns'>
    <label><%= Spree.t(:shipped_at) %></label>
    <p><%= @stock_transfer.shipped_at.try(:to_date) %></p>
  </div>
</fieldset>

<fieldset>
  <legend><%= Spree.t(:transfer_items) %></legend>
  <%= render partial: 'transfer_item_table', locals: { transfer_items: @stock_transfer.transfer_items, show_expected: true, show_received: true, show_actions: false } %>
</fieldset>
