<% content_for :page_title do %>
  <%= "#{Spree.t(:ship)} #{Spree.t(:stock_transfer)} \##{@stock_transfer.number}" %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_stock_transfers_list), admin_stock_transfers_path, icon: 'arrow-left' %>
  </li>
  <li>
    <%= button_link_to Spree.t(:ship), '#', icon: 'check', id: 'confirm-ship-transfer-button' %>
  </li>
<% end %>

<div id="ship-stock-transfer-warning" >
  <div class='warning-title'>
    <i class='fa fa-warning'></i>
    <span><%= Spree.t(:you_cannot_undo_action) %></span>
  </div>
  <div class='action-consequences'>
    <span><%= Spree.t('ship_stock_transfer.will_cause') %>:</span>
    <ul data-hook='ship-stock-transfer-consequences'>
      <li><%= Spree.t('ship_stock_transfer.no_further_changes') %></li>
    </ul>
  </div>
  <span><%= Spree.t(:are_you_sure_ship_stock_transfer) %></span>
  <div class='actions'>
    <%= link_to Spree.t(:no_dont_ship), '#', :id => 'cancel-ship-link' %>
    <%= link_to Spree.t(:yes_ship), ship_admin_stock_transfer_path(@stock_transfer), { :method => 'PUT', :id => 'confirm-ship-link'} %>
  </div>
</div>

<div id='stock_transfer_summary' class='fullwidth'>
  <div class='location'>
    <h5>
    <span><%= @stock_transfer.source_location.admin_name %></span>
    <span class='arrow'>&rarr;</span>
    <span><%= @stock_transfer.destination_location.admin_name %></span>
    </h5>
  </div>
  <div class='shipment-description'>
    <div class='summary-field creator'><%= Spree.t(:created_by) %>: <%= @stock_transfer.created_by.email %></div>
    <div class='summary-field description'><%= @stock_transfer.description %></div>
  </div>
</div>

<fieldset>
  <legend align='center'><%= Spree.t(:tracking_info) %></legend>
    <%= form_for [:admin, @stock_transfer] do |f| %>
    <div class='field-block alpha'>
      <div class='field'>
        <%= f.label "tracking_number", Spree.t(:tracking_number) %>
        <%= f.text_field :tracking_number, value: @stock_transfer.tracking_number, maxlength: 255, size: 0, class: 'fullwidth' %>
      </div>
    </div>

    <div class='clearfix'></div>

    <div class="actions filter-actions add_tracking_number">
      <%= f.submit Spree.t('actions.save') %>
    </div>
  <% end %>
</fieldset>

<fieldset id='stock-transfer-transfer-items'>
  <legend align="center"><%= Spree.t(:transfer_items) %></legend>
  <%= render partial: 'transfer_item_table', locals: { show_expected: true, show_received: false, show_actions: false } %>
</fieldset>
