<div class="variant-autocomplete-item media">
  <div class="media-left">
    {{> _image image=variant.images.[0] size="mini" }}
  </div>

  <div class="media-body">
    <h6 class="media-heading">{{variant.name}}</h6>
    <dl class="media-content dl-collapse">
      {{#if variant.option_values}}
        {{#each variant.option_values}}
          <dt>{{this.option_type_presentation}}:</dt>
          <dd>{{this.presentation}}</dd>
        {{/each}}
      {{/if}}
      <dt>{{ t "sku" }}</dt>
      <dd>{{variant.sku}}</dd>
    </dl>
  </div>
</div>
