<div data-hook="bill_address_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Solidus.t(:billing_address) %></legend>
    <%= f.fields_for :bill_address, @user.bill_address do |ba_form| %>
      <% ba_form.object ||= Solidus::Address.build_default %>
      <%= render :partial => 'solidus/admin/shared/address_form', :locals => { :f => ba_form, :type => "billing" } %>
    <% end %>
  </fieldset>
</div>

<div data-hook="ship_address_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Solidus.t(:shipping_address) %></legend>
    <%= f.fields_for :ship_address, @user.ship_address do |sa_form| %>
      <% sa_form.object ||= Solidus::Address.build_default  %>
      <%= render :partial => 'solidus/admin/shared/address_form', :locals => { :f => sa_form, :type => "shipping" } %>
    <% end %>
  </fieldset>
</div>
