<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Adjustments' } %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Adjustment), spree.admin_order_adjustments_path(@order)) %>
<% admin_breadcrumb("#{t('spree.actions.edit')} #{Spree::Adjustment.model_name.human}") %>

<% content_for :page_actions do %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @adjustment } %>
<%= form_for @adjustment, url: admin_order_adjustment_path(@order, @adjustment), method: :put do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>

    <div class="filter-actions actions" data-hook="buttons">
      <%= button_tag t('spree.continue'), class: 'btn btn-primary' %>
      <%= link_to t('spree.actions.cancel'), admin_order_adjustments_url(@order), class: 'button' %>
    </div>
  </fieldset>
<% end %>
